@using App.Aplication
@model IEnumerable<App.Domain.Entities.Data.News>
@if (Model.IsAny())
{
<div class="carousel-container sdsarticleBottom">
    <div class="clearfix related-container">
        <h3 class="carousel-title">Related Posts</h3>
        <div class="related-posts-carousel related-posts">

            <article class="article">
                <div class="article-media-container">
                    <a href="13_answer_to_your_question_about_prestashop_1_6.html" title="Answers to your Questions about PrestaShop 1.6">
                        <img src="../../modules/smartblog/images/13-home-default.jpg" class="img-responsive" alt="Answers to your Questions about PrestaShop 1.6" />
                    </a>
                </div>
                <h4><a href="13_answer_to_your_question_about_prestashop_1_6.html" title="Answers to your Questions about PrestaShop 1.6">Answers to your Questions about PrestaShop 1.6</a></h4>
                <div class="article-meta-box">
                    <span class="article-icon article-date-icon"></span>
                    <span class="meta-box-text"><i class="fa fa-calendar"></i>&nbsp; Dec 20, 2015</span>
                </div>
                <div class="xs-margin"></div>
                <a href="13_answer_to_your_question_about_prestashop_1_6.html" class="readmore btn btn-default button_111_hover" title="Read More" role="button">Read More</a>
            </article>

            <article class="article">
                <div class="article-media-container">
                    <a href="11_what_is_bootstrap.html" title="What is Bootstrap? – The History and the Hype">
                        <img src="../../modules/smartblog/images/11-home-default.jpg" class="img-responsive" alt="What is Bootstrap? – The History and the Hype" />
                    </a>
                </div>
                <h4><a href="11_what_is_bootstrap.html" title="What is Bootstrap? – The History and the Hype">What is Bootstrap? – The History and the Hype</a></h4>
                <div class="article-meta-box">
                    <span class="article-icon article-date-icon"></span>
                    <span class="meta-box-text"><i class="fa fa-calendar"></i>&nbsp; Dec 20, 2015</span>
                </div>
                <div class="xs-margin"></div>
                <a href="11_what_is_bootstrap.html" class="readmore btn btn-default button_111_hover" title="Read More" role="button">Read More</a>
            </article>

            <article class="article">
                <div class="article-media-container">
                    <a href="10_from_now_we_are_certified_web_agency.html" title="From Now we are certified web agency">
                        <img src="../../modules/smartblog/images/10-home-default.jpg" class="img-responsive" alt="From Now we are certified web agency" />
                    </a>
                </div>
                <h4><a href="10_from_now_we_are_certified_web_agency.html" title="From Now we are certified web agency">From Now we are certified web agency</a></h4>
                <div class="article-meta-box">
                    <span class="article-icon article-date-icon"></span>
                    <span class="meta-box-text"><i class="fa fa-calendar"></i>&nbsp; Dec 20, 2015</span>
                </div>
                <div class="xs-margin"></div>
                <a href="10_from_now_we_are_certified_web_agency.html" class="readmore btn btn-default button_111_hover" title="Read More" role="button">Read More</a>
            </article>

        </div>

    </div>
</div>


}
