<!--GetFixContent-->
@model App.Domain.StaticContents

@if (Model != null)
{
    Html.RenderAction("BannerTop", "Banner", new { menuId = ViewBag.MenuId, title = ViewBag.Title });

    <div class="columns-container">
        <div class="container" id="columns">
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                @Html.Partial("_BreadCrumb")

                @if (Model.MenuLink.ParentId != null)
                {
                    <div class="row">
                       <div class="center_column col-xs-12 col-sm-9" id="center_column">
                            <!-- page heading-->
                            <h2 class="page-heading">
                                <span class="page-heading-title2">@Model.Title</span>
                            </h2>
                            <!-- Content page -->
                            <div class="content-text clearfix">
                                @Html.Raw(Model.Description)

                            </div>
                            <!-- ./Content page -->
                        </div>
                    </div>
                }
                else
                {
                    Html.RenderAction("GetStaticContentParent", "Menu", new { title = Model.Title, menuId = Model.MenuId, virtualId = Model.MenuLink.VirtualId });
                }
               
            </div>
        </div>
    </div>
}
<!--/GetFixContent--->
