<!---_MessageEmtyData-->
<div class="container">
    <div class="gw-msg-empty service ">
        <div class="col-xs-612 col-sm-12 service-item">
            <div class="icon">
                <img alt="services" src="Themes/Basic/Content/images/s1.png">
            </div>
            <div class="info">
                <h3>
                    @Html.Raw("Không có dữ liệu")
                </h3>
            </div>
        </div>
    </div>
</div>
<!---/_MessageEmtyData-->
