<!---MessageMaintenance-->
<div class="row">
    <div class="message-constru">
        <font color="WHITE"><marquee direction="left" style="background:#3498db">Website đang xây dựng</marquee></font>
    </div>
</div>

<!---/MessageMaintenance-->