<p class="mb-2 text-sm">
{{ address | FormatAddress | NewlineToBr }}
</p>

{% if address.Email or address.Phone or address.Fax %}
<div class="mb-2 text-sm">
	{% if address.Email  %}
		<div>{{ address.Email }}</div>
	{% endif %}
	{% if address.Phone  %}
		<div>Phone: {{ address.Phone }}</div>
	{% endif %}
	{% if address.Fax  %}
		<div>Fax: {{ address.Fax }}</div>
	{% endif %}
</div>
{% endif %}