<!----_Social.FB_Link-->
<span id="divFBLink"></span>

<script>
    jQuery(function () {
        'use strict';

        jQuery.post('@Url.Action("GetSettingSeo", "Summary")')
            .done(function (data) {
                var fbLink = data.response.FbLink;
                if (fbLink != null) {
                    var code = '<a href="' + fbLink + '" class="si-facebook social-icon si-dark si-colored"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a>';

                    jQuery("#divFBLink").html(code);
                }
             });
        })

</script>
<!----/_Social.FB_Link-->