<!---_Social.FB_Comment-->
<div class="sbutton">
    <div id="ml">
        <a href="mailto:?subject=@(ViewBag.Title);body=@(Request.Url.AbsoluteUri)" alt="Email">
            <img src="/Areas/Admin/images/Socials/ml.png">
        </a>
    </div>
</div>
<!---_Social.FB_Comment-->