@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="columns-container">
    <div class="container login-shop" id="columns">
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewBag.Title</span>
        </h2>
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    Please check your email to reset your password.

                </div>

            </div>
        </div>

    </div>
</div>


