@using App.Front.Models
@using App.Framework.Utilities

@{
    Layout = "~/Views/Shared/_MyAccount.cshtml";
    ViewBag.Title = "Manage Account";
}

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
</section>


@section renderScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
