<!---TopHead-->
@using App.Framework.Utilities
@model IEnumerable<App.FakeEntity.Menus.MenuNavViewModel>

<!-- Header Top -->

<div class="header-top">

    <div class="auto-container clearfix">

        <!-- Top Left -->



        <!-- Top Right -->
        <div class="top-right">

            <ul class="clearfix">
                @if (Model != null)
                {
                    var i = 0;
                    foreach (var lv1 in Model)
                    {
                        <li id="menu-item-270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-270">
                            <a title="@lv1.MenuName" href="@Url.Action("GetContent", "Menu", new { menu = lv1.SeoUrl, area = "" })" 
                               class="hvr-underline-from-left1" data-scroll="" data-options="easing: easeOutQuart">@lv1.MenuName</a>
                        </li>
                        i++;
                    }
                }

            </ul>

        </div>
    </div>

</div>
<!---/TopHead-->