USE [master]
GO
/****** Object:  Database [KuteShop]    Script Date: 09-May-18 23:02:05 ******/
CREATE DATABASE [KuteShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KuteShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KuteShop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KuteShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KuteShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KuteShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KuteShop]
GO
USE [KuteShop]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 09-May-18 23:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](4000) NULL,
	[LastName] [nvarchar](4000) NULL,
	[Email] [nvarchar](4000) NULL,
	[Company] [nvarchar](4000) NULL,
	[CountryId] [int] NULL,
	[StateProvinceId] [int] NULL,
	[City] [nvarchar](4000) NULL,
	[Address1] [nvarchar](4000) NULL,
	[Address2] [nvarchar](4000) NULL,
	[ZipPostalCode] [nvarchar](4000) NULL,
	[PhoneNumber] [nvarchar](4000) NULL,
	[FaxNumber] [nvarchar](4000) NULL,
	[Salutation] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttribureValue]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttribureValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ValueName] [nvarchar](max) NULL,
	[ColorHex] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NULL,
	[AttributeId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AttribureValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](max) NULL,
	[OrderDisplay] [int] NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Attribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[WebsiteLink] [nvarchar](250) NULL,
	[ImgPath] [nvarchar](max) NULL,
	[Language] [nvarchar](5) NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Target] [nvarchar](50) NULL,
	[FromDate] [time](7) NULL,
	[ToDate] [time](7) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[MenuId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[OrderDisplay] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claim]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claim](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](4000) NULL,
	[ClaimValue] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Claim] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactInformation]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Language] [nvarchar](5) NULL,
	[Title] [nvarchar](max) NULL,
	[Lag] [nvarchar](50) NULL,
	[Lat] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Hotline] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[NumberOfStore] [nvarchar](max) NULL,
	[ProvinceId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ContactInfomation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09-May-18 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerGuid] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[PasswordFormatId] [int] NOT NULL,
	[PasswordSalt] [nvarchar](500) NULL,
	[AdminComment] [nvarchar](4000) NULL,
	[IsTaxExempt] [bit] NOT NULL,
	[AffiliateId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[IsSystemAccount] [bit] NOT NULL,
	[SystemName] [nvarchar](500) NULL,
	[LastIpAddress] [nvarchar](100) NULL,
	[CreatedOnUtc] [datetime] NOT NULL,
	[LastLoginDateUtc] [datetime] NULL,
	[LastActivityDateUtc] [datetime] NOT NULL,
	[BillingAddress_Id] [int] NULL,
	[ShippingAddress_Id] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 09-May-18 23:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[Customer_Id] [int] NOT NULL,
	[Address_Id] [int] NOT NULL,
 CONSTRAINT [PK_CustomerAddresses] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC,
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalLogin]    Script Date: 09-May-18 23:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ExternalLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryImage]    Script Date: 09-May-18 23:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ImageBig] [nvarchar](max) NULL,
	[ImageThumbnail] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[AttributeValueId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Price] [decimal](18, 4) NULL,
 CONSTRAINT [PK_dbo.GalleryImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenericAttribute]    Script Date: 09-May-18 23:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[KeyGroup] [nvarchar](400) NOT NULL,
	[Key] [nvarchar](400) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[StoreId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenericControl]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericControl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[OrderDisplay] [int] NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MenuId] [int] NULL,
	[ControlTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GenControl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenericControlMenuLink]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericControlMenuLink](
	[GenericControlId] [int] NOT NULL,
	[MenuLinkId] [int] NOT NULL,
 CONSTRAINT [PK__GenericC__91DE8CB0EEE6FC71] PRIMARY KEY CLUSTERED 
(
	[GenericControlId] ASC,
	[MenuLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenericControlValue]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericControlValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ValueName] [nvarchar](max) NULL,
	[ColorHex] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NULL,
	[GenericControlId] [int] NOT NULL,
	[EntityId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.GenericControlValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenericControlValueItem]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericControlValueItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ImageThumbnail] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[GenericControlValueId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Value] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.GenericControlValueItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandingPage]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandingPage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[DateOfBith] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.LandingPage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](250) NOT NULL,
	[LanguageCode] [nvarchar](50) NOT NULL,
	[Flag] [nvarchar](250) NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocaleStringResource]    Script Date: 09-May-18 23:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocaleStringResource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [int] NOT NULL,
	[ResourceName] [nvarchar](200) NOT NULL,
	[ResourceValue] [nvarchar](max) NULL,
	[IsFromPlugin] [bit] NOT NULL,
	[IsTouched] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalizedProperty]    Script Date: 09-May-18 23:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalizedProperty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[LocaleKeyGroup] [nvarchar](400) NOT NULL,
	[LocaleKey] [nvarchar](400) NOT NULL,
	[LocaleValue] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 09-May-18 23:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[OtherLink] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.FlowStep] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuLink]    Script Date: 09-May-18 23:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuLink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[CurrentVirtualId] [nvarchar](250) NULL,
	[VirtualId] [nvarchar](250) NULL,
	[MenuName] [nvarchar](250) NULL,
	[Status] [int] NOT NULL,
	[TypeMenu] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[TemplateType] [int] NOT NULL,
	[Language] [nvarchar](5) NULL,
	[OrderDisplay] [int] NOT NULL,
	[SourceLink] [nvarchar](250) NULL,
	[SeoUrl] [nvarchar](250) NULL,
	[VirtualSeoUrl] [nvarchar](250) NULL,
	[MetaKeywords] [nvarchar](550) NULL,
	[MetaTitle] [nvarchar](550) NULL,
	[MetaDescription] [nvarchar](550) NULL,
	[DisplayOnHomePage] [bit] NOT NULL,
	[DisplayOnMenu] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[DisplayOnSearch] [bit] NOT NULL,
	[ImageBigSize] [nvarchar](250) NULL,
	[ImageMediumSize] [nvarchar](250) NULL,
	[ImageSmallSize] [nvarchar](250) NULL,
	[ColorHex] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.MenuLink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 09-May-18 23:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[VirtualCategoryId] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Video] [bit] NOT NULL,
	[VideoLink] [nvarchar](max) NULL,
	[OtherLink] [nvarchar](max) NULL,
	[ShortDesc] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[SpecialDisplay] [bit] NOT NULL,
	[HomeDisplay] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[SeoUrl] [nvarchar](max) NULL,
	[VirtualCatUrl] [nvarchar](max) NULL,
	[ImageBigSize] [nvarchar](max) NULL,
	[ImageMediumSize] [nvarchar](max) NULL,
	[ImageSmallSize] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 09-May-18 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](4000) NULL,
	[OrderGuid] [uniqueidentifier] NULL,
	[StoreId] [int] NULL,
	[CustomerId] [int] NULL,
	[BillingAddressId] [int] NULL,
	[ShippingAddressId] [int] NULL,
	[OrderStatusId] [int] NULL,
	[ShippingStatusId] [int] NULL,
	[PaymentStatusId] [int] NULL,
	[PaymentMethodSystemName] [nvarchar](4000) NULL,
	[CustomerCurrencyCode] [nvarchar](4000) NULL,
	[CurrencyRate] [decimal](18, 8) NULL,
	[CustomerTaxDisplayTypeId] [int] NULL,
	[VatNumber] [nvarchar](4000) NULL,
	[OrderSubtotalInclTax] [decimal](18, 4) NULL,
	[OrderSubtotalExclTax] [decimal](18, 4) NULL,
	[OrderSubTotalDiscountInclTax] [decimal](18, 4) NULL,
	[OrderSubTotalDiscountExclTax] [decimal](18, 4) NULL,
	[OrderShippingInclTax] [decimal](18, 4) NULL,
	[OrderShippingExclTax] [decimal](18, 4) NULL,
	[PaymentMethodAdditionalFeeInclTax] [decimal](18, 4) NULL,
	[PaymentMethodAdditionalFeeExclTax] [decimal](18, 4) NULL,
	[TaxRates] [nvarchar](4000) NULL,
	[OrderTax] [decimal](18, 4) NULL,
	[OrderDiscount] [decimal](18, 4) NULL,
	[OrderTotal] [decimal](18, 4) NULL,
	[RefundedAmount] [decimal](18, 4) NULL,
	[RewardPointsWereAdded] [bit] NULL,
	[CheckoutAttributeDescription] [nvarchar](4000) NULL,
	[CheckoutAttributesXml] [nvarchar](4000) NULL,
	[CustomerLanguageId] [int] NULL,
	[AffiliateId] [int] NULL,
	[CustomerIp] [nvarchar](4000) NULL,
	[AllowStoringCreditCardNumber] [bit] NULL,
	[CardType] [nvarchar](4000) NULL,
	[CardName] [nvarchar](4000) NULL,
	[CardNumber] [nvarchar](4000) NULL,
	[MaskedCreditCardNumber] [nvarchar](4000) NULL,
	[CardCvv2] [nvarchar](4000) NULL,
	[CardExpirationMonth] [nvarchar](4000) NULL,
	[CardExpirationYear] [nvarchar](4000) NULL,
	[AllowStoringDirectDebit] [bit] NULL,
	[DirectDebitAccountHolder] [nvarchar](4000) NULL,
	[DirectDebitAccountNumber] [nvarchar](4000) NULL,
	[DirectDebitBankCode] [nvarchar](4000) NULL,
	[DirectDebitBankName] [nvarchar](4000) NULL,
	[DirectDebitBIC] [nvarchar](4000) NULL,
	[DirectDebitCountry] [nvarchar](4000) NULL,
	[DirectDebitIban] [nvarchar](4000) NULL,
	[AuthorizationTransactionId] [nvarchar](4000) NULL,
	[AuthorizationTransactionCode] [nvarchar](4000) NULL,
	[AuthorizationTransactionResult] [nvarchar](4000) NULL,
	[CaptureTransactionId] [nvarchar](4000) NULL,
	[CaptureTransactionResult] [nvarchar](4000) NULL,
	[SubscriptionTransactionId] [nvarchar](4000) NULL,
	[PurchaseOrderNumber] [nvarchar](4000) NULL,
	[PaidDateUtc] [datetime] NULL,
	[ShippingMethod] [nvarchar](4000) NULL,
	[ShippingRateComputationMethodSystemName] [nvarchar](4000) NULL,
	[Deleted] [bit] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[RewardPointsRemaining] [int] NULL,
	[CustomerOrderComment] [nvarchar](max) NULL,
	[OrderShippingTaxRate] [decimal](18, 4) NULL,
	[PaymentMethodAdditionalFeeTaxRate] [decimal](18, 4) NULL,
	[HasNewPaymentNotification] [bit] NULL,
	[AcceptThirdPartyEmailHandOver] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 09-May-18 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemGuid] [uniqueidentifier] NOT NULL,
	[OrderId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPriceInclTax] [decimal](18, 4) NOT NULL,
	[UnitPriceExclTax] [decimal](18, 4) NOT NULL,
	[PriceInclTax] [decimal](18, 4) NOT NULL,
	[PriceExclTax] [decimal](18, 4) NOT NULL,
	[DiscountAmountInclTax] [decimal](18, 4) NOT NULL,
	[DiscountAmountExclTax] [decimal](18, 4) NOT NULL,
	[AttributeDescription] [nvarchar](4000) NULL,
	[AttributesXml] [nvarchar](max) NULL,
	[DownloadCount] [int] NOT NULL,
	[IsDownloadActivated] [bit] NOT NULL,
	[LicenseDownloadId] [int] NULL,
	[ItemWeight] [decimal](18, 4) NULL,
	[BundleData] [nvarchar](max) NULL,
	[PostCost] [decimal](18, 4) NOT NULL,
	[TaxRate] [decimal](18, 4) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderNote]    Script Date: 09-May-18 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DisplayToCustomer] [bit] NOT NULL,
	[CreatedOnUtc] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.OrderNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageBanner]    Script Date: 09-May-18 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageBanner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Language] [nvarchar](5) NULL,
	[PageName] [nvarchar](250) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.PageBanner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 09-May-18 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodSystemName] [nvarchar](4000) NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[ImageUrl] [nvarchar](4000) NULL,
	[Status] [int] NULL,
	[OrderDisplay] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 09-May-18 23:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[VirtualCategoryId] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[ShortDesc] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[SeoUrl] [nvarchar](max) NULL,
	[Price] [decimal](18, 4) NULL,
	[Discount] [decimal](18, 4) NULL,
	[ShowOnHomePage] [bit] NOT NULL,
	[ProductHot] [bit] NOT NULL,
	[OutOfStock] [bit] NOT NULL,
	[ProductNew] [bit] NOT NULL,
	[VirtualCatUrl] [nvarchar](max) NULL,
	[ImageBigSize] [nvarchar](max) NULL,
	[ImageMediumSize] [nvarchar](max) NULL,
	[ImageSmallSize] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[PostType] [int] NOT NULL,
	[ProductCode] [nvarchar](max) NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[TechInfo] [nvarchar](max) NULL,
	[OldOrNew] [bit] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostAttribute]    Script Date: 09-May-18 23:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostAttribute](
	[AttibuteValueId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PostAttribute] PRIMARY KEY CLUSTERED 
(
	[AttibuteValueId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostGallery]    Script Date: 09-May-18 23:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostGallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[OrderDisplay] [int] NOT NULL,
	[ImageBigSize] [nvarchar](max) NULL,
	[ImageSmallSize] [nvarchar](max) NULL,
	[ImageMediumSize] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_dbo.PostGallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 09-May-18 23:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[OrderDisplay] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repair]    Script Date: 09-May-18 23:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repair](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](max) NULL,
	[ModelBrand] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[BrandId] [int] NOT NULL,
	[OrderCode] [nvarchar](max) NULL,
	[CustomerCode] [nvarchar](max) NULL,
	[StoreName] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[CustomerIdNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Accessories] [nvarchar](max) NULL,
	[PasswordPhone] [nvarchar](max) NULL,
	[AppleId] [nvarchar](max) NULL,
	[IcloudPassword] [nvarchar](max) NULL,
	[FixedTags] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[OldWarranty] [int] NULL,
	[PhoneStatus] [nvarchar](max) NULL,
	[WarrantyFrom] [datetime] NULL,
	[WarrantyTo] [datetime] NULL,
	[FixedFee] [decimal](18, 2) NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Repair] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairGallery]    Script Date: 09-May-18 23:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairGallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[RepairId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RepairGallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairItem]    Script Date: 09-May-18 23:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarrantyFrom] [datetime] NULL,
	[WarrantyTo] [datetime] NULL,
	[FixedFee] [decimal](18, 2) NULL,
	[Category] [nvarchar](max) NULL,
	[RepairId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.RepairItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09-May-18 23:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](450) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerMailSetting]    Script Date: 09-May-18 23:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerMailSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromAddress] [nvarchar](250) NULL,
	[SmtpClient] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
	[Password] [nvarchar](250) NULL,
	[SMTPPort] [nvarchar](50) NULL,
	[EnableSSL] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ServerMailSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingSeoGlobal]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingSeoGlobal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FbAppId] [nvarchar](max) NULL,
	[FbAdminsId] [nvarchar](max) NULL,
	[SnippetGoogleAnalytics] [nvarchar](max) NULL,
	[MetaTagMasterTool] [nvarchar](max) NULL,
	[PublisherGooglePlus] [nvarchar](max) NULL,
	[FacebookRetargetSnippet] [nvarchar](max) NULL,
	[GoogleRetargetSnippet] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[FbLink] [nvarchar](3000) NULL,
	[GooglePlusLink] [nvarchar](3000) NULL,
	[TwitterLink] [nvarchar](3000) NULL,
	[PinterestLink] [nvarchar](3000) NULL,
	[YoutubeLink] [nvarchar](3000) NULL,
 CONSTRAINT [PK_dbo.SettingSeoGlobal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethod]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IgnoreCharges] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ShippingMethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCartItem]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NULL,
	[ParentItemId] [int] NULL,
	[BundleItemId] [int] NULL,
	[ShoppingCartTypeId] [int] NULL,
	[CustomerId] [int] NULL,
	[PostId] [int] NULL,
	[AttributesXml] [nvarchar](max) NULL,
	[CustomerEnteredPrice] [decimal](18, 4) NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ShoppingCartItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlideShow]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlideShow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[WebsiteLink] [nvarchar](max) NULL,
	[ImgPath] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Video] [bit] NOT NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Target] [nvarchar](50) NULL,
	[FromDate] [time](7) NULL,
	[ToDate] [time](7) NULL,
	[Status] [int] NOT NULL,
	[OrderDisplay] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.SlideShow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaticContent]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[VirtualCategoryId] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[ShortDesc] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[SeoUrl] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StaticContents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSetting]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Language] [nvarchar](5) NULL,
	[Title] [nvarchar](4000) NULL,
	[FooterContent] [nvarchar](4000) NULL,
	[MetaTitle] [nvarchar](4000) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeywords] [nvarchar](4000) NULL,
	[Status] [int] NOT NULL,
	[FaviconImage] [nvarchar](500) NULL,
	[LogoImage] [nvarchar](500) NULL,
	[LogoFooterImage] [nvarchar](500) NULL,
	[MaintanceSite] [bit] NOT NULL,
	[Hotline] [nvarchar](4000) NULL,
	[Email] [nvarchar](4000) NULL,
	[Description] [nvarchar](4000) NULL,
	[TimeWork] [nvarchar](4000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Slogan] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.SystemSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[EmailConfirmed] [bit] NULL,
	[PasswordHash] [nvarchar](4000) NULL,
	[SecurityStamp] [nvarchar](4000) NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[IsLockedOut] [bit] NOT NULL,
	[IsSuperAdmin] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 09-May-18 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Id], [FirstName], [LastName], [Email], [Company], [CountryId], [StateProvinceId], [City], [Address1], [Address2], [ZipPostalCode], [PhoneNumber], [FaxNumber], [Salutation], [Title], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'abb', N'b', N'ddemo9698@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2018-02-08T16:06:09.057' AS DateTime), N'c258456', CAST(N'2018-02-08T16:06:09.057' AS DateTime), N'c258456')
INSERT [dbo].[Address] ([Id], [FirstName], [LastName], [Email], [Company], [CountryId], [StateProvinceId], [City], [Address1], [Address2], [ZipPostalCode], [PhoneNumber], [FaxNumber], [Salutation], [Title], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'congtt', NULL, N'ddemo9698@gmail.com', NULL, 0, 0, NULL, N'hcm1', NULL, NULL, N'0123', NULL, NULL, NULL, CAST(N'2018-02-08T16:09:07.967' AS DateTime), N'c258456', CAST(N'2018-02-08T16:09:07.967' AS DateTime), N'c258456')
INSERT [dbo].[Address] ([Id], [FirstName], [LastName], [Email], [Company], [CountryId], [StateProvinceId], [City], [Address1], [Address2], [ZipPostalCode], [PhoneNumber], [FaxNumber], [Salutation], [Title], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Truong', N'Cong', N'ddemo9698@gmail.com', NULL, NULL, NULL, NULL, N'HCM', NULL, NULL, N'123456789', NULL, NULL, NULL, CAST(N'2018-02-10T09:17:10.017' AS DateTime), N'Administrator', CAST(N'2018-02-10T09:17:10.017' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[AttribureValue] ON 

INSERT [dbo].[AttribureValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [AttributeId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Gold', N'#ede9be', NULL, 1, 1, 1, CAST(N'2017-02-20T05:39:48.157' AS DateTime), N'Administrator', CAST(N'2017-03-23T07:05:58.880' AS DateTime), N'Administrator')
INSERT [dbo].[AttribureValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [AttributeId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Black', N'#000000', NULL, 1, 2, 1, CAST(N'2017-02-26T10:00:49.053' AS DateTime), N'Administrator', CAST(N'2017-03-23T07:09:19.473' AS DateTime), N'Administrator')
INSERT [dbo].[AttribureValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [AttributeId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Rose Gold', N'#f0cccc', NULL, 1, 3, 1, CAST(N'2017-03-23T07:06:36.943' AS DateTime), N'Administrator', CAST(N'2017-03-23T07:06:36.943' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[AttribureValue] OFF
SET IDENTITY_INSERT [dbo].[Attribute] ON 

INSERT [dbo].[Attribute] ([Id], [AttributeName], [OrderDisplay], [Status], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Màu', 1, 1, N'Màu điện thoại a', CAST(N'2017-02-20T05:39:20.593' AS DateTime), N'Administrator', CAST(N'2017-12-19T15:57:17.787' AS DateTime), N'Administrator')
INSERT [dbo].[Attribute] ([Id], [AttributeName], [OrderDisplay], [Status], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Size', 1, 1, N'121212 adfadsfsdaf', CAST(N'2017-05-27T03:52:20.183' AS DateTime), N'Administrator', CAST(N'2017-12-19T15:57:28.143' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Attribute] OFF
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [Title], [WebsiteLink], [ImgPath], [Language], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [PageId], [MenuId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Banner top quy hoạch', NULL, N'images/Ads/f4378a6a823a86e12d65577110516176_1280_470_CA.jpg', NULL, NULL, NULL, N'_blank', NULL, NULL, 1, 1, 1, 5, CAST(N'2017-02-20T06:53:33.420' AS DateTime), N'Administrator', CAST(N'2017-10-13T16:28:05.177' AS DateTime), N'Administrator')
INSERT [dbo].[Banner] ([Id], [Title], [WebsiteLink], [ImgPath], [Language], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [PageId], [MenuId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Banner home product left', NULL, N'images/Ads/banner-bottom2.jpg', NULL, NULL, NULL, N'_blank', NULL, NULL, 1, 1, 6, 2123, CAST(N'2017-02-20T07:20:15.093' AS DateTime), N'Administrator', CAST(N'2018-02-17T15:35:19.620' AS DateTime), N'Administrator')
INSERT [dbo].[Banner] ([Id], [Title], [WebsiteLink], [ImgPath], [Language], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [PageId], [MenuId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (7, N'Banner top truyền thông', NULL, N'images/Ads/abcccc.jpg', NULL, NULL, NULL, N'_blank', NULL, NULL, 1, 3, 1, 110, CAST(N'2017-03-20T12:15:15.163' AS DateTime), N'Administrator', CAST(N'2017-10-13T15:55:39.707' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Banner] OFF
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'SamSung', NULL, 1, 1, CAST(N'2017-05-27T05:39:20.183' AS DateTime), N'Administrator', CAST(N'2017-05-27T06:47:57.173' AS DateTime), N'Administrator')
INSERT [dbo].[Brand] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Apple', NULL, 2, 1, CAST(N'2017-05-27T05:39:27.437' AS DateTime), N'Administrator', CAST(N'2017-05-27T05:39:27.437' AS DateTime), N'Administrator')
INSERT [dbo].[Brand] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Nokia', NULL, 1, 1, CAST(N'2017-05-27T06:25:25.383' AS DateTime), N'Administrator', CAST(N'2017-05-27T06:25:25.383' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[ContactInformation] ON 

INSERT [dbo].[ContactInformation] ([Id], [Language], [Title], [Lag], [Lat], [Type], [OrderDisplay], [Status], [Email], [Hotline], [Address], [MobilePhone], [Fax], [NumberOfStore], [ProvinceId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (5, NULL, N'Mazzola 1', NULL, NULL, 0, 1, 1, N'info@namlongfashion.com.vn', N'12', N'99 Trương Định, phường 6, Quận 3', N'12', N'12', NULL, 1, CAST(N'2018-01-17T15:39:55.323' AS DateTime), N'Administrator', CAST(N'2018-01-17T15:39:55.323' AS DateTime), N'Administrator')
INSERT [dbo].[ContactInformation] ([Id], [Language], [Title], [Lag], [Lat], [Type], [OrderDisplay], [Status], [Email], [Hotline], [Address], [MobilePhone], [Fax], [NumberOfStore], [ProvinceId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (6, NULL, N'Mazzola 2', NULL, NULL, 0, 1, 1, N'info@namlongfashion.com.vn', NULL, N'206 Quang Trung, P.10, Q.Gò Vấp', NULL, NULL, NULL, 1, CAST(N'2018-01-17T15:44:59.110' AS DateTime), N'Administrator', CAST(N'2018-01-17T15:44:59.110' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[ContactInformation] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[CustomerAddresses] ([Customer_Id], [Address_Id]) VALUES (5, 19)
INSERT [dbo].[CustomerAddresses] ([Customer_Id], [Address_Id]) VALUES (10, 18)
INSERT [dbo].[ExternalLogin] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'104725362127820015522', N'bb72dda7-bc03-4e0d-96b6-1e8256770ea9')
INSERT [dbo].[ExternalLogin] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'107297564061909337921', N'57f2e911-7e87-486f-9999-230c80ca769d')
SET IDENTITY_INSERT [dbo].[GalleryImage] ON 

INSERT [dbo].[GalleryImage] ([Id], [Title], [ImageBig], [ImageThumbnail], [Status], [OrderDisplay], [PostId], [AttributeValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Price]) VALUES (1028, N'KHU DU LỊCH LÀNG CHÀI', N'images/post/10012018/khu-du-lich-lang-chai-d5be1320-0e7c-4769-b30f-5029397afed5.jpg', N'images/post/10012018/khu-du-lich-lang-chai-cd466822-6519-4dd1-a33e-0f4f17b950e8.jpg', 1, 1, 46, 1, CAST(N'2018-01-10T15:57:47.823' AS DateTime), N'Administrator', CAST(N'2018-02-16T11:42:59.480' AS DateTime), N'Administrator', CAST(4.0000 AS Decimal(18, 4)))
INSERT [dbo].[GalleryImage] ([Id], [Title], [ImageBig], [ImageThumbnail], [Status], [OrderDisplay], [PostId], [AttributeValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Price]) VALUES (1029, N'KHU DU LỊCH LÀNG CHÀI', N'images/post/10012018/khu-du-lich-lang-chai-802a63b3-2b77-424c-af99-be125c35353d.jpg', N'images/post/10012018/khu-du-lich-lang-chai-ce8ef19c-df5f-42e7-8375-b04ad5437064.jpg', 1, 2, 46, 2, CAST(N'2018-01-10T15:58:09.763' AS DateTime), N'Administrator', CAST(N'2018-01-10T15:58:09.763' AS DateTime), N'Administrator', CAST(11111.0000 AS Decimal(18, 4)))
INSERT [dbo].[GalleryImage] ([Id], [Title], [ImageBig], [ImageThumbnail], [Status], [OrderDisplay], [PostId], [AttributeValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Price]) VALUES (1043, N'SM 505', N'images/post/17022018/sm-505-8151458f-4ae4-48a9-a432-06476a7cd4db.jpg', N'images/post/17022018/sm-505-ee906fb0-0583-4dc7-98d3-ba229b8c3dac.jpg', 1, 1, 49, 1, CAST(N'2018-02-17T10:32:02.540' AS DateTime), N'Administrator', CAST(N'2018-03-06T15:49:09.503' AS DateTime), N'Administrator', CAST(2.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[GalleryImage] OFF
SET IDENTITY_INSERT [dbo].[GenericAttribute] ON 

INSERT [dbo].[GenericAttribute] ([Id], [EntityId], [KeyGroup], [Key], [Value], [StoreId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 1, N'Customer', N'LanguageId', N'1', 1, CAST(N'2017-08-18T00:00:00.000' AS DateTime), N'Admin', CAST(N'2017-09-16T12:16:58.497' AS DateTime), N'Administrator')
INSERT [dbo].[GenericAttribute] ([Id], [EntityId], [KeyGroup], [Key], [Value], [StoreId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (16, 1011, N'Customer', N'SelectedPaymentMethod', N'Thanh toán khi giao hàng (COD)', 0, CAST(N'2017-11-21T16:21:10.263' AS DateTime), N'Administrator', CAST(N'2017-11-21T16:21:10.263' AS DateTime), N'Administrator')
INSERT [dbo].[GenericAttribute] ([Id], [EntityId], [KeyGroup], [Key], [Value], [StoreId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (17, 1011, N'Customer', N'SelectedShippingOption', N'In-Store Pickup', 0, CAST(N'2017-11-21T16:21:10.313' AS DateTime), N'Administrator', CAST(N'2017-11-21T16:21:10.313' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[GenericAttribute] OFF
SET IDENTITY_INSERT [dbo].[GenericControl] ON 

INSERT [dbo].[GenericControl] ([Id], [Name], [OrderDisplay], [Status], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MenuId], [ControlTypeId]) VALUES (1, N'Thuộc tính post chi tiết', 0, 1, NULL, CAST(N'2017-08-20T11:04:33.387' AS DateTime), N'Administrator', CAST(N'2018-04-21T17:01:00.357' AS DateTime), N'Administrator', 3, 4)
SET IDENTITY_INSERT [dbo].[GenericControl] OFF
INSERT [dbo].[GenericControlMenuLink] ([GenericControlId], [MenuLinkId]) VALUES (1, 3)
INSERT [dbo].[GenericControlMenuLink] ([GenericControlId], [MenuLinkId]) VALUES (1, 5)
INSERT [dbo].[GenericControlMenuLink] ([GenericControlId], [MenuLinkId]) VALUES (1, 37)
SET IDENTITY_INSERT [dbo].[GenericControlValue] ON 

INSERT [dbo].[GenericControlValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [GenericControlId], [EntityId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (8, N'Chất liệu', NULL, NULL, 1, NULL, 1, 0, CAST(N'2017-05-27T03:56:27.213' AS DateTime), N'Administrator', CAST(N'2018-02-18T13:30:23.627' AS DateTime), N'Administrator')
INSERT [dbo].[GenericControlValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [GenericControlId], [EntityId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (9, N'Hướng dẫn bảo quản', N'#000000', NULL, 1, NULL, 1, 0, CAST(N'2017-10-05T16:28:29.253' AS DateTime), N'Administrator', CAST(N'2018-02-18T13:30:16.177' AS DateTime), N'Administrator')
INSERT [dbo].[GenericControlValue] ([Id], [ValueName], [ColorHex], [Description], [Status], [OrderDisplay], [GenericControlId], [EntityId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (25, N'Kích thước', NULL, NULL, 1, 12, 1, 0, CAST(N'2017-12-10T13:24:31.700' AS DateTime), N'Administrator', CAST(N'2018-02-18T13:30:01.773' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[GenericControlValue] OFF
SET IDENTITY_INSERT [dbo].[GenericControlValueItem] ON 

INSERT [dbo].[GenericControlValueItem] ([Id], [Title], [ImagePath], [ImageThumbnail], [Status], [OrderDisplay], [EntityId], [GenericControlValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Value]) VALUES (1, N'Địa điểm', NULL, NULL, 1, 1, 42, 8, CAST(N'2017-05-27T03:56:27.213' AS DateTime), N'Administator', CAST(N'2018-01-06T06:02:35.793' AS DateTime), N'Administrator', N'aaaa')
INSERT [dbo].[GenericControlValueItem] ([Id], [Title], [ImagePath], [ImageThumbnail], [Status], [OrderDisplay], [EntityId], [GenericControlValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Value]) VALUES (2, N'Thông tin chủ đầu tư', NULL, NULL, 1, 1, 42, 9, CAST(N'2017-12-10T12:35:22.257' AS DateTime), N'Administrator', CAST(N'2018-01-06T06:02:36.013' AS DateTime), N'Administrator', N'b')
INSERT [dbo].[GenericControlValueItem] ([Id], [Title], [ImagePath], [ImageThumbnail], [Status], [OrderDisplay], [EntityId], [GenericControlValueId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Value]) VALUES (16, N'Địa điểm', NULL, NULL, 1, 1, 46, 8, CAST(N'2017-12-10T13:22:06.223' AS DateTime), N'Administrator', CAST(N'2017-12-10T13:25:01.860' AS DateTime), N'Administrator', N'1')
SET IDENTITY_INSERT [dbo].[GenericControlValueItem] OFF
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [LanguageName], [LanguageCode], [Flag], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Viet nam', N'vi-VN', N'images/language/vn.png', 1, CAST(N'2017-05-30T16:31:44.337' AS DateTime), N'Administrator', CAST(N'2017-12-13T16:53:30.030' AS DateTime), N'Administrator')
INSERT [dbo].[Language] ([Id], [LanguageName], [LanguageCode], [Flag], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'English', N'en-us', N'images/language/us.png', 1, CAST(N'2017-06-19T16:18:57.493' AS DateTime), N'Administrator', CAST(N'2017-12-13T16:54:00.800' AS DateTime), N'Administrator')
INSERT [dbo].[Language] ([Id], [LanguageName], [LanguageCode], [Flag], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Japan', N'ja-Jp', N'images/language/jp.png', 1, CAST(N'2017-06-19T16:18:57.493' AS DateTime), N'Administrator', CAST(N'2017-12-13T16:55:11.373' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Language] OFF
SET IDENTITY_INSERT [dbo].[LocaleStringResource] ON 

INSERT [dbo].[LocaleStringResource] ([Id], [LanguageId], [ResourceName], [ResourceValue], [IsFromPlugin], [IsTouched], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 1, N'AboutUs', N'About', 0, 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime), N'Administrator', CAST(N'2017-07-25T03:43:10.530' AS DateTime), N'Administrator')
INSERT [dbo].[LocaleStringResource] ([Id], [LanguageId], [ResourceName], [ResourceValue], [IsFromPlugin], [IsTouched], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (17, 1, N'XemThem', N'Xem thêm', 0, 1, CAST(N'2017-07-20T00:42:46.653' AS DateTime), N'Administrator', CAST(N'2017-07-25T03:46:44.253' AS DateTime), N'Administrator')
INSERT [dbo].[LocaleStringResource] ([Id], [LanguageId], [ResourceName], [ResourceValue], [IsFromPlugin], [IsTouched], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (18, 1, N'LienHeDatHang.Lable', N'Liên hệ đặt hàng', 0, 1, CAST(N'2017-07-20T00:44:30.590' AS DateTime), N'Administrator', CAST(N'2018-01-13T05:37:44.247' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[LocaleStringResource] OFF
SET IDENTITY_INSERT [dbo].[LocalizedProperty] ON 

INSERT [dbo].[LocalizedProperty] ([Id], [EntityId], [LanguageId], [LocaleKeyGroup], [LocaleKey], [LocaleValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (18, 2123, 1, N'MenuLink', N'MenuName', N'Trang chủ', CAST(N'2017-07-06T16:58:04.527' AS DateTime), N'Administrator', CAST(N'2017-08-09T16:20:29.017' AS DateTime), N'Administrator')
INSERT [dbo].[LocalizedProperty] ([Id], [EntityId], [LanguageId], [LocaleKeyGroup], [LocaleKey], [LocaleValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (19, 2123, 1, N'MenuLink', N'MetaTitle', N'Trang chủ', CAST(N'2017-07-06T16:58:04.553' AS DateTime), N'Administrator', CAST(N'2017-08-09T16:20:29.057' AS DateTime), N'Administrator')
INSERT [dbo].[LocalizedProperty] ([Id], [EntityId], [LanguageId], [LocaleKeyGroup], [LocaleKey], [LocaleValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (20, 2123, 1, N'MenuLink', N'MetaKeywords', N'Trang chủ', CAST(N'2017-07-06T16:58:04.557' AS DateTime), N'Administrator', CAST(N'2017-08-09T16:20:29.083' AS DateTime), N'Administrator')
GO
SET IDENTITY_INSERT [dbo].[LocalizedProperty] OFF
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([Id], [Title], [OtherLink], [Description], [Status], [OrderDisplay], [ImageUrl], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (5, N'Sony', NULL, NULL, 1, 1, N'images/post/tiep-nhan-thong-tin-1.jpg', CAST(N'2017-04-25T11:37:56.760' AS DateTime), N'Administrator', CAST(N'2018-02-24T04:15:31.917' AS DateTime), N'Administrator')
INSERT [dbo].[Manufacturer] ([Id], [Title], [OtherLink], [Description], [Status], [OrderDisplay], [ImageUrl], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (6, N'Nokia', NULL, NULL, 1, 2, N'images/post/thong-bao-tinh-trang-1.jpg', CAST(N'2017-04-25T11:38:53.667' AS DateTime), N'Administrator', CAST(N'2018-02-24T04:15:25.600' AS DateTime), N'Administrator')
INSERT [dbo].[Manufacturer] ([Id], [Title], [OtherLink], [Description], [Status], [OrderDisplay], [ImageUrl], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (7, N'SamSung', NULL, NULL, 1, 3, N'images/post/tien-hanh-sua-chua-1.jpg', CAST(N'2017-04-25T11:39:19.673' AS DateTime), N'Administrator', CAST(N'2018-02-24T04:15:20.260' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
SET IDENTITY_INSERT [dbo].[MenuLink] ON 

SET IDENTITY_INSERT [dbo].[MenuLink] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[PageBanner] ON 

INSERT [dbo].[PageBanner] ([Id], [Language], [PageName], [Status], [OrderDisplay], [Position], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, NULL, N'Đầu trang', 1, 1, 1, CAST(N'2017-02-20T06:52:32.000' AS DateTime), N'Administrator', CAST(N'2017-02-20T06:52:32.000' AS DateTime), N'Administrator')
INSERT [dbo].[PageBanner] ([Id], [Language], [PageName], [Status], [OrderDisplay], [Position], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, NULL, N'Giữa trang', 1, 2, 6, CAST(N'2017-02-20T06:52:40.987' AS DateTime), N'Administrator', CAST(N'2017-02-20T06:52:40.987' AS DateTime), N'Administrator')
INSERT [dbo].[PageBanner] ([Id], [Language], [PageName], [Status], [OrderDisplay], [Position], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, NULL, N'Cuối trang', 1, 4, 9, CAST(N'2017-02-20T06:52:54.053' AS DateTime), N'Administrator', CAST(N'2017-06-28T16:28:16.853' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[PageBanner] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([Id], [PaymentMethodSystemName], [Description], [ImageUrl], [Status], [OrderDisplay], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'DHL', NULL, N'images/paymentmethod/dhl-dae54568-5bbc-42de-ae45-a51741e0dbe0.jpg', 1, 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime), NULL, CAST(N'2018-03-08T15:54:52.477' AS DateTime), N'Administrator')
INSERT [dbo].[PaymentMethod] ([Id], [PaymentMethodSystemName], [Description], [ImageUrl], [Status], [OrderDisplay], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Trademark', NULL, N'images/paymentmethod/trademark-fd34d859-91a5-44ab-b718-10e7710e2adf.jpg', 1, 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime), NULL, CAST(N'2018-03-08T15:55:08.930' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
INSERT [dbo].[PostAttribute] ([AttibuteValueId], [PostId]) VALUES (1, 46)
INSERT [dbo].[PostAttribute] ([AttibuteValueId], [PostId]) VALUES (1, 49)
INSERT [dbo].[PostAttribute] ([AttibuteValueId], [PostId]) VALUES (4, 49)
SET IDENTITY_INSERT [dbo].[PostGallery] ON 

INSERT [dbo].[PostGallery] ([Id], [PostId], [Title], [OrderDisplay], [ImageBigSize], [ImageSmallSize], [ImageMediumSize], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status]) VALUES (2, 42, NULL, 0, N'images/post/13122017/intro-jpg.jpg', N'images/post/13122017/intro-jpg-67ba8797-4f60-410c-82cf-77f6c5095f62.jpg', N'images/post/13122017/intro-jpg-f165d9a5-367f-4348-a011-24648c3f3f52.jpg', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PostGallery] ([Id], [PostId], [Title], [OrderDisplay], [ImageBigSize], [ImageSmallSize], [ImageMediumSize], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status]) VALUES (3, 42, NULL, 0, N'images/post/13122017/us-png.jpg', N'images/post/13122017/us-png-ab926439-248d-4509-9ae2-f2969ab7323e.jpg', N'images/post/13122017/us-png-80eeb913-13a1-4a89-86f0-6e2e2cd9e7a7.jpg', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PostGallery] ([Id], [PostId], [Title], [OrderDisplay], [ImageBigSize], [ImageSmallSize], [ImageMediumSize], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status]) VALUES (4, 42, NULL, 0, N'images/post/13122017/jp-png.jpg', N'images/post/13122017/jp-png-12834628-e49a-402f-abb4-d17453bcfe95.jpg', N'images/post/13122017/jp-png-a2c8eb37-6502-4d44-ac4f-5a7d127ae339.jpg', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[PostGallery] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Thành Phố Hồ Chí Minh', NULL, 5, 1, CAST(N'2016-12-03T07:32:55.723' AS DateTime), N'Administrator', CAST(N'2016-12-16T20:21:18.510' AS DateTime), N'Administrator')
INSERT [dbo].[Province] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Bình Dương', NULL, 3, 1, CAST(N'2016-12-03T07:33:06.427' AS DateTime), N'Administrator', CAST(N'2016-12-03T10:25:33.657' AS DateTime), N'Administrator')
INSERT [dbo].[Province] ([Id], [Name], [Description], [OrderDisplay], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Đồng Nai', NULL, 3, 1, CAST(N'2016-12-03T07:33:16.583' AS DateTime), N'Administrator', CAST(N'2016-12-03T07:33:16.583' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Repair] ON 

SET IDENTITY_INSERT [dbo].[Repair] OFF
SET IDENTITY_INSERT [dbo].[RepairGallery] ON 

INSERT [dbo].[RepairGallery] ([Id], [ImagePath], [RepairId]) VALUES (1, N'images/DH1/DH1-d368aea0-f64e-42bf-a306-595ab6db7e4b.jpg', 2)
INSERT [dbo].[RepairGallery] ([Id], [ImagePath], [RepairId]) VALUES (2, N'images/DH1/DH1-5211a8d9-8567-4923-bb42-b902b1462a41.jpg', 2)
INSERT [dbo].[RepairGallery] ([Id], [ImagePath], [RepairId]) VALUES (3, N'images/DH1/DH1-412b90c9-088e-41d9-ac36-d477b886a375.jpg', 2)
SET IDENTITY_INSERT [dbo].[RepairGallery] OFF
SET IDENTITY_INSERT [dbo].[RepairItem] ON 

INSERT [dbo].[RepairItem] ([Id], [WarrantyFrom], [WarrantyTo], [FixedFee], [Category], [RepairId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (14, CAST(N'2017-05-30T00:00:00.000' AS DateTime), CAST(N'2017-06-08T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(18, 2)), N'12', 2, CAST(N'2017-09-22T14:59:09.897' AS DateTime), N'Administrator', CAST(N'2017-09-22T14:59:09.897' AS DateTime), N'Administrator')
INSERT [dbo].[RepairItem] ([Id], [WarrantyFrom], [WarrantyTo], [FixedFee], [Category], [RepairId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (15, CAST(N'2017-05-30T00:00:00.000' AS DateTime), CAST(N'2017-05-30T00:00:00.000' AS DateTime), CAST(5.00 AS Decimal(18, 2)), N'232', 2, CAST(N'2017-09-22T14:59:09.897' AS DateTime), N'Administrator', CAST(N'2017-09-22T14:59:09.897' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[RepairItem] OFF
INSERT [dbo].[Role] ([RoleId], [Name], [Description]) VALUES (N'79a41b18-2edb-49cb-b1e3-02decc11f901', N'DeleteEditBanner', NULL)
INSERT [dbo].[Role] ([RoleId], [Name], [Description]) VALUES (N'e64f1379-7ea0-4ec0-b393-03f0ec6ef679', N'ExportLandingPage', NULL)
INSERT [dbo].[Role] ([RoleId], [Name], [Description]) VALUES (N'7dedab84-7294-4e36-986c-074e4fed6ba0', N'DeleteNews', NULL)
SET IDENTITY_INSERT [dbo].[ServerMailSetting] ON 

INSERT [dbo].[ServerMailSetting] ([Id], [FromAddress], [SmtpClient], [UserID], [Password], [SMTPPort], [EnableSSL], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'ddemo9698@gmail.com', N'smtp.gmail.com', N'ddemo9698@gmail.com', N'abc@12345', N'587', 1, 1, CAST(N'2017-05-05T09:28:43.473' AS DateTime), N'Administrator', CAST(N'2018-03-22T14:31:15.910' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[ServerMailSetting] OFF
SET IDENTITY_INSERT [dbo].[SettingSeoGlobal] ON 

SET IDENTITY_INSERT [dbo].[SettingSeoGlobal] OFF
SET IDENTITY_INSERT [dbo].[ShippingMethod] ON 

INSERT [dbo].[ShippingMethod] ([Id], [Name], [Description], [DisplayOrder], [IgnoreCharges], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Giao tận nơi', N'Pick up your items at the store', 0, 0, CAST(N'2017-11-04T21:05:51.303' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ShippingMethod] ([Id], [Name], [Description], [DisplayOrder], [IgnoreCharges], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Nhận tại cửa hàng', N'Compared to other shipping methods, like by flight or over seas, ground shipping is carried out closer to the earth', 1, 0, CAST(N'2017-11-04T21:05:51.303' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShippingMethod] OFF
SET IDENTITY_INSERT [dbo].[SlideShow] ON 

INSERT [dbo].[SlideShow] ([Id], [Title], [WebsiteLink], [ImgPath], [Description], [Video], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (6, N'slide 1', N'http://www.google.com', N'images/Ads//slide-1-03b2ff6d-8913-40bd-99e0-79854ea79fe5.jpg', NULL, 0, NULL, NULL, N'_parent', NULL, NULL, 1, 1, CAST(N'2017-05-10T09:44:23.133' AS DateTime), N'Administrator', CAST(N'2018-02-18T09:57:47.340' AS DateTime), N'Administrator')
INSERT [dbo].[SlideShow] ([Id], [Title], [WebsiteLink], [ImgPath], [Description], [Video], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (7, N'Slide 2', NULL, N'images/Ads/slide-2.jpg', NULL, 0, NULL, NULL, N'_blank', NULL, NULL, 1, 1, CAST(N'2018-02-18T09:29:34.933' AS DateTime), N'Administrator', CAST(N'2018-02-18T09:30:10.457' AS DateTime), N'Administrator')
INSERT [dbo].[SlideShow] ([Id], [Title], [WebsiteLink], [ImgPath], [Description], [Video], [Width], [Height], [Target], [FromDate], [ToDate], [Status], [OrderDisplay], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (8, N'Slide 3', NULL, N'images/Ads//slide-3-4dc56dbe-a9b9-4ec7-9b64-cccf14b2cdc2.jpg', NULL, 0, NULL, NULL, N'_blank', NULL, NULL, 1, 1, CAST(N'2018-02-18T10:10:31.443' AS DateTime), N'Administrator', CAST(N'2018-02-18T10:10:31.443' AS DateTime), N'Administrator')
SET IDENTITY_INSERT [dbo].[SlideShow] OFF
SET IDENTITY_INSERT [dbo].[StaticContent] ON 

SET IDENTITY_INSERT [dbo].[StaticContent] OFF
SET IDENTITY_INSERT [dbo].[SystemSetting] ON 

SET IDENTITY_INSERT [dbo].[SystemSetting] OFF
INSERT [dbo].[User] ([UserId], [UserName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [FirstName], [MiddleName], [LastName], [Address], [City], [State], [Phone], [IsLockedOut], [IsSuperAdmin], [Created], [LastLogin]) VALUES (N'807b164a-fd1a-4d16-81d4-0411f87870bc', N'222323233', N'info@namlongfashion.com.vn', 1, N'ADC2xHKGBlhhv0TCDXIel28sYawzLcSu9K1McJtIMOGwlfZ/o05giGdj74yOqUXf/A==', N'febb0f3e-8c1c-48df-aa74-ba475f1d7ea8', N'2313', NULL, N'33', NULL, NULL, NULL, NULL, 0, 0, CAST(N'2018-01-19T17:09:10.000' AS DateTime), NULL)
INSERT [dbo].[User] ([UserId], [UserName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [FirstName], [MiddleName], [LastName], [Address], [City], [State], [Phone], [IsLockedOut], [IsSuperAdmin], [Created], [LastLogin]) VALUES (N'bc1e404b-2a88-42ed-abea-1ba10478d19e', N'323232', N'ddemo9698@gmail.com', 1, N'AL6rOvg/j8Mj9/ji0LbtViXYhizwNHm6O1p5DAj3ZnRJTaYWO91dbaYR1VYq/CnY3A==', N'01eb5205-8175-402f-b52e-3786114515ec', N'123', NULL, N'2223', NULL, NULL, NULL, NULL, 0, 0, CAST(N'2018-01-19T16:42:25.510' AS DateTime), NULL)
INSERT [dbo].[User] ([UserId], [UserName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [FirstName], [MiddleName], [LastName], [Address], [City], [State], [Phone], [IsLockedOut], [IsSuperAdmin], [Created], [LastLogin]) VALUES (N'bb72dda7-bc03-4e0d-96b6-1e8256770ea9', N'truong thanh cong', N'truong.thanhcong89@gmail.com', 1, N'ABjc6TyTGvOC7nCEuqmfWX1xE9neGwlZwF9eAwhMOXQ5JOORPieyLr3osNkwJVl+Zw==', N'e6e30166-eca7-4f0c-aed1-381b35a09c33', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, CAST(N'2018-03-17T00:35:39.217' AS DateTime), NULL)
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (N'79a41b18-2edb-49cb-b1e3-02decc11f901', N'd4069960-2e7a-420d-8581-c71ab694db05')
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (N'e64f1379-7ea0-4ec0-b393-03f0ec6ef679', N'd4069960-2e7a-420d-8581-c71ab694db05')
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (N'7dedab84-7294-4e36-986c-074e4fed6ba0', N'd4069960-2e7a-420d-8581-c71ab694db05')
/****** Object:  Index [IX_AttributeId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_AttributeId] ON [dbo].[AttribureValue]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_MenuId] ON [dbo].[Banner]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PageId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_PageId] ON [dbo].[Banner]
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Claim]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[ContactInformation]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[ExternalLogin]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttributeValueId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_AttributeValueId] ON [dbo].[GalleryImage]
(
	[AttributeValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_PostId] ON [dbo].[GalleryImage]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_ShopId] ON [dbo].[LandingPage]
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_MenuLink_CurrentVirtualId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_CurrentVirtualId] ON [dbo].[MenuLink]
(
	[CurrentVirtualId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_DisplayOnHomePage]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_DisplayOnHomePage] ON [dbo].[MenuLink]
(
	[DisplayOnHomePage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_DisplayOnMenu]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_DisplayOnMenu] ON [dbo].[MenuLink]
(
	[DisplayOnMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_Id]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_Id] ON [dbo].[MenuLink]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_MenuLink_MenuName]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_MenuName] ON [dbo].[MenuLink]
(
	[MenuName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_OrderDisplay]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_OrderDisplay] ON [dbo].[MenuLink]
(
	[OrderDisplay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_ParentId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_ParentId] ON [dbo].[MenuLink]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_Position]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_Position] ON [dbo].[MenuLink]
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_MenuLink_SeoUrl]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_SeoUrl] ON [dbo].[MenuLink]
(
	[SeoUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_Status]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_Status] ON [dbo].[MenuLink]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_TemplateType]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_TemplateType] ON [dbo].[MenuLink]
(
	[TemplateType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_MenuLink_TypeMenu]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_TypeMenu] ON [dbo].[MenuLink]
(
	[TypeMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_MenuLink_VirtualId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_VirtualId] ON [dbo].[MenuLink]
(
	[VirtualId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_MenuLink_VirtualSeoUrl]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [idx_MenuLink_VirtualSeoUrl] ON [dbo].[MenuLink]
(
	[VirtualSeoUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[MenuLink]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_MenuId] ON [dbo].[News]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_MenuId] ON [dbo].[Post]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttibuteValueId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_AttibuteValueId] ON [dbo].[PostAttribute]
(
	[AttibuteValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_PostId] ON [dbo].[PostAttribute]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_MenuId] ON [dbo].[StaticContent]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 09-May-18 23:02:31 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MenuLink] ADD  CONSTRAINT [DF__MenuLink__Displa__0E6E26BF]  DEFAULT ((0)) FOR [DisplayOnSearch]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__UpdatedOn__2B0A656D]  DEFAULT ('2017-06-18T16:30:29.726Z') FOR [UpdatedOnUtc]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__OrderShip__2BFE89A6]  DEFAULT ((0)) FOR [OrderShippingTaxRate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__PaymentMe__2CF2ADDF]  DEFAULT ((0)) FOR [PaymentMethodAdditionalFeeTaxRate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__HasNewPay__2DE6D218]  DEFAULT ((0)) FOR [HasNewPaymentNotification]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__AcceptThi__2EDAF651]  DEFAULT ((0)) FOR [AcceptThirdPartyEmailHandOver]
GO
ALTER TABLE [dbo].[OrderItem] ADD  CONSTRAINT [DF__OrderItem__TaxRa__42E1EEFE]  DEFAULT ((0)) FOR [TaxRate]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF__Post__OldOrNew__5441852A]  DEFAULT ((0)) FOR [OldOrNew]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_ManufacturerId]  DEFAULT ((0)) FOR [ManufacturerId]
GO
ALTER TABLE [dbo].[PostGallery] ADD  CONSTRAINT [DF_PostGallery_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[StaticContent] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[AttribureValue]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AttribureValue_dbo.Attribute_AttributeId] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attribute] ([Id])
GO
ALTER TABLE [dbo].[AttribureValue] CHECK CONSTRAINT [FK_dbo.AttribureValue_dbo.Attribute_AttributeId]
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Banner_dbo.MenuLink_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[MenuLink] ([Id])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_dbo.Banner_dbo.MenuLink_MenuId]
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Banner_dbo.PageBanner_PageId] FOREIGN KEY([PageId])
REFERENCES [dbo].[PageBanner] ([Id])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_dbo.Banner_dbo.PageBanner_PageId]
GO
ALTER TABLE [dbo].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Claim_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Claim] CHECK CONSTRAINT [FK_dbo.Claim_dbo.User_UserId]
GO
ALTER TABLE [dbo].[ContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactInfomation_dbo.Province_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([Id])
GO
ALTER TABLE [dbo].[ContactInformation] CHECK CONSTRAINT [FK_dbo.ContactInfomation_dbo.Province_ProvinceId]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Address_BillingAddress_Id] FOREIGN KEY([BillingAddress_Id])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Address_BillingAddress_Id]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Address_ShippingAddress_Id] FOREIGN KEY([ShippingAddress_Id])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Address_ShippingAddress_Id]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Address] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Address]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Customer] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Customer]
GO
ALTER TABLE [dbo].[ExternalLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExternalLogin_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ExternalLogin] CHECK CONSTRAINT [FK_dbo.ExternalLogin_dbo.User_UserId]
GO
ALTER TABLE [dbo].[GalleryImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GalleryImage_dbo.AttribureValue_AttributeValueId] FOREIGN KEY([AttributeValueId])
REFERENCES [dbo].[AttribureValue] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImage] CHECK CONSTRAINT [FK_dbo.GalleryImage_dbo.AttribureValue_AttributeValueId]
GO
ALTER TABLE [dbo].[GalleryImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GalleryImage_dbo.Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImage] CHECK CONSTRAINT [FK_dbo.GalleryImage_dbo.Post_PostId]
GO
ALTER TABLE [dbo].[GenericControlMenuLink]  WITH CHECK ADD  CONSTRAINT [FK_GenericControlMenuLink_GenericControl] FOREIGN KEY([GenericControlId])
REFERENCES [dbo].[GenericControl] ([Id])
GO
ALTER TABLE [dbo].[GenericControlMenuLink] CHECK CONSTRAINT [FK_GenericControlMenuLink_GenericControl]
GO
ALTER TABLE [dbo].[GenericControlMenuLink]  WITH CHECK ADD  CONSTRAINT [FK_GenericControlMenuLink_MenuLink] FOREIGN KEY([MenuLinkId])
REFERENCES [dbo].[MenuLink] ([Id])
GO
ALTER TABLE [dbo].[GenericControlMenuLink] CHECK CONSTRAINT [FK_GenericControlMenuLink_MenuLink]
GO
ALTER TABLE [dbo].[GenericControlValue]  WITH CHECK ADD  CONSTRAINT [FK_GenericControlValue_GenericControl] FOREIGN KEY([GenericControlId])
REFERENCES [dbo].[GenericControl] ([Id])
GO
ALTER TABLE [dbo].[GenericControlValue] CHECK CONSTRAINT [FK_GenericControlValue_GenericControl]
GO
ALTER TABLE [dbo].[GenericControlValueItem]  WITH CHECK ADD  CONSTRAINT [FK_GenericControlValueItem_GenericControlValue] FOREIGN KEY([GenericControlValueId])
REFERENCES [dbo].[GenericControlValue] ([Id])
GO
ALTER TABLE [dbo].[GenericControlValueItem] CHECK CONSTRAINT [FK_GenericControlValueItem_GenericControlValue]
GO
ALTER TABLE [dbo].[LandingPage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LandingPage_dbo.ContactInfomation_ShopId] FOREIGN KEY([ShopId])
REFERENCES [dbo].[ContactInformation] ([Id])
GO
ALTER TABLE [dbo].[LandingPage] CHECK CONSTRAINT [FK_dbo.LandingPage_dbo.ContactInfomation_ShopId]
GO
ALTER TABLE [dbo].[LocaleStringResource]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalizedProperty]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.MenuLink_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[MenuLink] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.MenuLink_MenuId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Address_BillingAddressId] FOREIGN KEY([BillingAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Address_BillingAddressId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Address_ShippingAddressId] FOREIGN KEY([ShippingAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Address_ShippingAddressId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address_BillingAddressId] FOREIGN KEY([BillingAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address_BillingAddressId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer_CustomerId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItem_dbo.Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_dbo.OrderItem_dbo.Order_OrderId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Post_PostId]
GO
ALTER TABLE [dbo].[OrderNote]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderNote_dbo.Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderNote] CHECK CONSTRAINT [FK_dbo.OrderNote_dbo.Order_OrderId]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Post_dbo.MenuLink_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[MenuLink] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_dbo.Post_dbo.MenuLink_MenuId]
GO
ALTER TABLE [dbo].[PostAttribute]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostAttribute_dbo.AttribureValue_AttibuteValueId] FOREIGN KEY([AttibuteValueId])
REFERENCES [dbo].[AttribureValue] ([Id])
GO
ALTER TABLE [dbo].[PostAttribute] CHECK CONSTRAINT [FK_dbo.PostAttribute_dbo.AttribureValue_AttibuteValueId]
GO
ALTER TABLE [dbo].[PostAttribute]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostAttribute_dbo.Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostAttribute] CHECK CONSTRAINT [FK_dbo.PostAttribute_dbo.Post_PostId]
GO
ALTER TABLE [dbo].[Repair]  WITH CHECK ADD  CONSTRAINT [FK_Repair_Brand] FOREIGN KEY([Id])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Repair] CHECK CONSTRAINT [FK_Repair_Brand]
GO
ALTER TABLE [dbo].[RepairGallery]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RepairGallery_dbo.Repair_RepairId] FOREIGN KEY([RepairId])
REFERENCES [dbo].[Repair] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairGallery] CHECK CONSTRAINT [FK_dbo.RepairGallery_dbo.Repair_RepairId]
GO
ALTER TABLE [dbo].[RepairItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RepairItem_dbo.Repair_RepairId] FOREIGN KEY([RepairId])
REFERENCES [dbo].[Repair] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairItem] CHECK CONSTRAINT [FK_dbo.RepairItem_dbo.Repair_RepairId]
GO
ALTER TABLE [dbo].[StaticContent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StaticContents_dbo.MenuLink_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[MenuLink] ([Id])
GO
ALTER TABLE [dbo].[StaticContent] CHECK CONSTRAINT [FK_dbo.StaticContents_dbo.MenuLink_MenuId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
/****** Object:  StoredProcedure [dbo].[Post_Insert]    Script Date: 09-May-18 23:02:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Post_Insert] @VirtualCatUrl VARCHAR(500)
AS
BEGIN
	INSERT Post
	SELECT 3 AS MenuId
		, mn.VirtualId AS 'VirtaulCategoryId'
		, NULL AS LANGUAGE
		, pr.title
		, pr.brief AS 'ShortDesc'
		, pr.detail AS 'Description'
		, 1 AS [Status]
		, 0 AS 'OrderDispaly'
		, 0 AS 'ViewCount'
		, pr.metatitle
		, pr.metakeyword
		, pr.metadescription
		, titleurl AS 'SeoUrl'
		, 0 AS 'Price'
		, 0 AS 'Discount'
		, 1 AS 'ProductHot'
		, 1 AS 'OutOfStock'
		, 1 AS 'ProductNew'
		, 'cong-trinh/nha-pho' AS VirtualCatUrl
		, pr.IMAGE AS ImageBigSize
		, pr.IMAGE AS ImageMediumSize
		, pr.IMAGE AS ImageSmallSize
		, NULL AS StartDate
		, 0 AS PostType
		, RAND() AS ProductCode
		, NULL AS EndDate
		, GETDATE() AS CreatedDate
		, 'Administrator' AS CreateBy
		, GetDate() AS UpdateDate
		, 'Administrator' AS UpdateBy
		, NULL AS TechInfo
		, 1 AS 'OldOrNew'
	FROM MenuLink mn
	LEFT JOIN Kientrucboba.dbo.Product_Tmp pr
		ON pr.categorynamedesc = mn.MenuName
	WHERE pr.CategoryId = 74
END


GO
USE [master]
GO
