///////////////////////////////Common////////////////////////
@mixin title-page-cart($font-size: 20px, $margin: 15px 0) {
    font-size: $font-size;
    font-weight: bold;
    text-transform: uppercase;
    color: #958457;
    margin: $margin;
}

@mixin field () {
    width: 100%;
    float: left;
    padding: .45em;
    box-sizing: border-box;
}

@mixin userbox($margin: 0px 0px 10px 0px) {
    padding: 15px 15px 15px;
    border: 1px dashed #c1bfbf;
    margin: $margin;
    overflow: hidden;
    min-height: 110px;
}
///////////////////////////////End Common////////////////////////////

.goweb-cart {
    font-family: Open Sans;

    .cart-product-quantity {
        text-align: center;
    }

    .title-page {
        @include title-page-cart();
    }

    .cart-amount {
        color: #e81c25;
        text-align: right;
        vertical-align: middle;
        display: table-cell;
    }

    cart-total {
        font-weight: bold;
    }

    .cart .remove {
        font-size: 13px;
        color: #FF0000;
    }

    .cart-product-name a, .product-name a {
        font-size: 13px;
        color: #333;
    }

    .cart th {
        text-align: center;
        color: #555;
        font-weight: bold;
    }

    .quantity .plus {
        border-bottom: 0;
        top: 0;
    }

    .quantity .qty {
        float: left;
        height: 34px;
        line-height: 34px;
        border: 0;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-left: 1px solid #dedede;
        background-color: #fff;
        text-indent: 20px;
        width: 100%;
        margin-bottom: 0;
    }

    button, html input[type=button], input[type=reset], input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .quantity .plus, .quantity .minus {
        position: absolute;
        border: 1px solid #dedede;
        height: 17px;
        width: 17px;
        padding: 0;
        text-align: center;
        line-height: 15px;
        background-color: #fff;
        font-size: 16px;
        transition: background-color .2s linear;
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        right: 0;
    }

    .quantity .minus {
        bottom: 0;
    }

    .cart-product-quantity .quantity {
        display: inline-block;
        margin: 0;
        float: none;
    }

    .quantity {
        position: relative;
        display: inline-block;
        width: 70px;
        float: left;
        margin-right: 15px;
    }

    .quantity .qty {
        float: left;
        height: 34px;
        line-height: 34px;
        border: 0;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-left: 1px solid #dedede;
        background-color: #fff;
        text-indent: 20px;
        width: 100%;
        margin-bottom: 0;
    }
}

.billingaddress {
    .default-address {
        float: right;
        top: 10px;
        right: 15px;
        display: block;
        font-size: 11px;
        color: #090;
    }

    .user_box {
        @include userbox();
    }

    .fieldset .field {
        @include field();
    }

    .create-address {
        padding: 10px;
        border-radius: 4px;
        background-position: 50px;
        background-repeat: no-repeat;

        a {
            color: #4EA7FF;
        }
    }


    .step-footer .step-footer-previous-link {
        padding-top: 1.5em;
        text-align: center;
    }

    .step-footer .step-footer-info {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 1.5em;
        text-align: center;
    }

    .step-footer {
        z-index: 2;
        position: relative;
        margin-top: 1em;
        zoom: 1;
    }

    .step-footer:after, .step-footer:before {
        content: "";
        display: table;
    }

    .step-footer:after {
        clear: both;
    }

    .step-footer .step-footer-previous-link {
        cursor: pointer;
        display: block;
    }

    .step-footer .step-footer-previous-link .previous-link-icon {
        fill: #338dbc;
        transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
        margin-right: 0.25em;
    }

    .step-footer .step-footer-previous-link:hover .previous-link-icon {
        fill: #2b78a0;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    .step-footer .step-footer-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    @media (min-width: 750px) {
        .step-footer {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 1.5em;
        }

        .step-footer .step-footer-continue-btn {
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            float: right;
        }

        .step-footer .step-footer-previous-link {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            margin-right: 1em;
            float: left;
            display: block;
        }

        .step-footer .step-footer-info {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            margin-right: 1em;
            float: left;
        }
    }
}

.checkout-cart {

    .left-module {
        margin-bottom: 30px;
        overflow: hidden;

        :last-child {
            margin-bottom: 0;
        }

        .owl-dots {
            bottom: 5px;
        }
    }

    .block {
        border: 1px solid #eaeaea;

        .title_block {
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid #eaeaea;
            padding-left: 28px;
            text-transform: uppercase;
            padding-top: 11px;
            padding-bottom: 12px;
        }

        .block_content {
            padding: 10px;
        }
    }

    .cart-items, .total-price, .promotion-name {
        border-bottom: 1px solid #eee;
    }

    .cart-item .price, .total-price label, .shiping-price label, .total-checkout span, .promotion-name label, .total-checkout label {
        float: right;
        text-align: right;
    }

    .cart-item {
        border-top: 1px dashed #eee;
        padding: 10px 0;
        text-align: left;
        overflow: hidden;
    }

    .variant-title {
        margin-top: 4px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .promotion-name {
        border-top: 0;
    }

    .checkout-sep {
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    .product-thumbnail-wrapper {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #ddd;
        width: 50%;
        height: 50%;
    }

    .product-thumbnail-quantity {
        font-size: .85714em;
        font-weight: 500;
        white-space: nowrap;
        padding: 0.35em .65em;
        border-radius: 14em;
        background-color: rgba(153,153,153,.9);
        color: #fff;
        position: absolute;
        right: 7.5em;
        top: -0.75em;
        z-index: 2;
    }

    .cart-item-title {
        margin: 5px;
    }

    .promotion-name {
        border-top: 0;
    }


    .total-price, .promotion_saving {
        border-top: 0;
        font-weight: 400;
        /* font-size: 16px; */
        /* font-weight: bold; */
        border-bottom: 1px solid #eaeaea;
        /* padding-left: 28px; */
        text-transform: uppercase;
        padding-top: 11px;
        padding-bottom: 12px;
    }

    .shiping-price {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .btn-coupon {
        display: block;
        margin-bottom: 0;
        padding-top: 11px;
        padding: 5px 10px 0 0;
        color: #0685DE;
        text-align: left;
        border-radius: 3px;
    }

    .btn-coupon span {
        height: 29px;
        display: inline-block;
        vertical-align: middle;
    }

    .btn-arrow {
        background: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDOTBCRkQxRUQxNDkxMUU0QTczOUIyMkZFMzUzOTM4RiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDOTBCRkQxRkQxNDkxMUU0QTczOUIyMkZFMzUzOTM4RiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkM5MEJGRDFDRDE0OTExRTRBNzM5QjIyRkUzNTM5MzhGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkM5MEJGRDFERDE0OTExRTRBNzM5QjIyRkUzNTM5MzhGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Gt0nMwAAANNJREFUeNpiNGw/8P//p9er/v/5Fc7w7w8Dw98/DP///WVg+vv6QQaLnF4YAwNDBwMSYBa3DDj77+OLr6xKZo3/3j35ClR+jOH/fwYmqIKe3w8v9LOqWnYD2QkgARYk3UV/nlwVYVWznv/rxqFPTIzMbAyMnHwMjCCp3z/j/n1+y8Aiq7eWiQEV7GTiFmD4c++UF7LEchZFI7df1/YHAdnbYRITWeQNIn5dO5AMZK8HCYAkWllktPN+3z5aDmTPg2lnYuIVqvpz9/Q0ILsL2TKAAAMAHnVNPyeKq8wAAAAASUVORK5CYII=') no-repeat right;
        background-position: 44% 46%;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        transition: all 0.1s ease;
        border: 1px solid #eee;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        padding: 10px 0;
    }

    .btn-coupon:hover {
        color: #ef8742;
        background: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5QTlENEMyQ0QxNEExMUU0QjZBMThFMzM0NjEyNzExRCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5QTlENEMyREQxNEExMUU0QjZBMThFMzM0NjEyNzExRCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlBOUQ0QzJBRDE0QTExRTRCNkExOEUzMzQ2MTI3MTFEIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlBOUQ0QzJCRDE0QTExRTRCNkExOEUzMzQ2MTI3MTFEIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+5TDPzAAAAMFJREFUeNpifN/u9P/CH6nHBizP5BiQANOOH8pLgYKyh3/JH0eR8OC4G7Pnl/IWW7aHFnt+Km2GS4AIF7a7vkd/K5xzYb/ns+278hyQGAtMhTXrA+Ozf2XvenHeTd70TeUdI9ByBjTwH24UDFz/K/YGRG/4olgHN+r8H+mHhixPhTd9UewM4LnfDNZx7K/SBaCg3PZvivP9eO5XgI069EvxqBXzPf29PxW2eXLdT4KZALL8/4nfclcsWB/pItsHEGAA+i1MJofp7ZYAAAAASUVORK5CYII=') no-repeat right;
        background-position: 45% 46%;
        display: block;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }

    .total-checkout {
        padding: 10px;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -10px;
        font-weight: 400;

        label {
            color: #ee2347;
            font-size: 19px;
            font-weight: 400;
        }
    }

    .btn-checkout, .btn-submit-coupon, .continue-coupon, .cancel-coupon {
        position: relative;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        width: 354px;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0;
        border-radius: 3px;
        font-size: 22px;
        /* line-height: 1.2em; */
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        background: #3498db;
        color: white;
        cursor: pointer;
        border: 0;
        outline: 0;
        white-space: nowrap;
    }

    .btn-checkout:hover, .btn-submit-coupon:hover, .continue-coupon:hover {
        background-color: #3498db;
        color: #fff;
        opacity: 0.8;
    }

    .error {
        border: 1px dashed #f88d81 !important;
        color: #F06455 !important;
        display: block;
        padding: 5px 7px;

        .summary {
            margin-top: 10px;
            padding: 10px;
            width: 300px;
            display: none;
        }
    }

    .coupon-error {
        margin-top: 10px;
        padding: 5px;
    }
}

.complete {
    .success {
        .well {
            background: #58b712;
            font-size: 19px;
            color: #fff;
            border: none;
            text-align: center;
            font-weight: 400;
            position: relative;
            border-radius: 0;
            width: 200px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 0;
            color: #b70017;
            margin-bottom: 10px;
        }

        p {
            margin: 0 0 10px;
        }
    }
}

.goweb-account-order {
    .user_box {
        @include userbox(0px 0px 10px 0px);
    }

    .fieldset .field {
        @include field();
    }

    .title-page {
        @include title-page-cart();
    }
}

.goweb-order-detail {
    .title-description {
        margin: 15px 0;
        font-size: 13px;
        text-align: right;
    }

    .user_box {
        @include userbox();
    }

    .fieldset .field {
        @include field();
    }

    .title-page {
        @include title-page-cart();
    }
}

.checkout-page {
    .lb-method {
        display: block;
        width: 100%;
        line-height: 35px;
    }

    .desc {
        padding-left: 30px;
        display: none;
        white-space: pre-line;
    }

    .box-border {
        input[type="radio"] {
            margin-right: 10px;
        }

        .fa {
            line-height: inherit;
        }

        p, h4 {
            padding-bottom: 5px;
            margin-top: 5px;
        }

        .button {
            margin-top: 15px;
        }

        .form-selector {
            padding-bottom: 25px;
        }

        label {
            padding-bottom: 5px;
        }

        input, select, textarea {
            border-radius: 0;
            border-color: #eaeaea;
            box-shadow: inherit;
            outline: 0 none;
        }
    }

    .checkout-sep {
        padding-bottom: 15px;
        text-transform: uppercase;
    }
}
