///////////////////////////////Common////////////////////////
@mixin title-page-cart($font-size: 20px, $margin: 15px 0) {
    font-size: $font-size;
    font-weight: bold;
    text-transform: uppercase;
    color: #958457;
    margin: $margin;
}

@mixin field () {
    width: 100%;
    float: left;
    padding: .45em;
    box-sizing: border-box;
}

@mixin userbox() {
    padding: 15px 15px 15px;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px dashed;
    margin-bottom: 10px;
    margin-top: 15px;
    overflow: hidden;
}
///////////////////////////////End Common////////////////////////////

.goweb-cart {
    font-family: Open Sans;

    .cart-product-quantity {
        text-align: center;
    }

    .title-page {
        @include title-page-cart();
    }

    .cart-amount {
        color: #e81c25;
        text-align: right;
        vertical-align: middle;
        display: table-cell;
    }

    cart-total {
        font-weight: bold;
    }

    .cart .remove {
        font-size: 13px;
        color: #FF0000;
    }

    .cart-product-name a, .product-name a {
        font-size: 13px;
        color: #333;
    }

    .cart th {
        text-align: center;
        color: #555;
        font-weight: bold;
    }

    .quantity .plus {
        border-bottom: 0;
        top: 0;
    }

    .quantity .qty {
        float: left;
        height: 34px;
        line-height: 34px;
        border: 0;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-left: 1px solid #dedede;
        background-color: #fff;
        text-indent: 20px;
        width: 100%;
        margin-bottom: 0;
    }

    button, html input[type=button], input[type=reset], input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .quantity .plus, .quantity .minus {
        position: absolute;
        border: 1px solid #dedede;
        height: 17px;
        width: 17px;
        padding: 0;
        text-align: center;
        line-height: 15px;
        background-color: #fff;
        font-size: 16px;
        transition: background-color .2s linear;
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        right: 0;
    }

    .quantity .minus {
        bottom: 0;
    }

    .cart-product-quantity .quantity {
        display: inline-block;
        margin: 0;
        float: none;
    }

    .quantity {
        position: relative;
        display: inline-block;
        width: 70px;
        float: left;
        margin-right: 15px;
    }

    .quantity .qty {
        float: left;
        height: 34px;
        line-height: 34px;
        border: 0;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-left: 1px solid #dedede;
        background-color: #fff;
        text-indent: 20px;
        width: 100%;
        margin-bottom: 0;
    }
}

.billingaddress {
    .default-address {
        float: right;
        top: 10px;
        right: 15px;
        display: block;
        font-size: 11px;
        color: #090;
    }

    .user_box {
        @include userbox();
    }

    .fieldset .field {
        @include field();
    }

    .create-address {
        padding: 10px;
        border-radius: 4px;
        background-position: 50px;
        background-repeat: no-repeat;

        a {
            color: #4EA7FF;
        }
    }


    .step-footer .step-footer-previous-link {
        padding-top: 1.5em;
        text-align: center;
    }

    .step-footer .step-footer-info {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 1.5em;
        text-align: center;
    }

    .step-footer {
        z-index: 2;
        position: relative;
        margin-top: 1em;
        zoom: 1;
    }

    .step-footer:after, .step-footer:before {
        content: "";
        display: table;
    }

    .step-footer:after {
        clear: both;
    }

    .step-footer .step-footer-previous-link {
        cursor: pointer;
        display: block;
    }

    .step-footer .step-footer-previous-link .previous-link-icon {
        fill: #338dbc;
        transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
        margin-right: 0.25em;
    }

    .step-footer .step-footer-previous-link:hover .previous-link-icon {
        fill: #2b78a0;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    .step-footer .step-footer-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    @media (min-width: 750px) {
        .step-footer {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 1.5em;
        }

        .step-footer .step-footer-continue-btn {
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            float: right;
        }

        .step-footer .step-footer-previous-link {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            margin-right: 1em;
            float: left;
            display: block;
        }

        .step-footer .step-footer-info {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            margin-right: 1em;
            float: left;
        }
    }
}

.checkout-cart {
    .checkout-sep {
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    .product-thumbnail-wrapper {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #ddd;
        width: 50%;
        height: 50%;
    }

    .product-thumbnail-quantity {
        font-size: .85714em;
        font-weight: 500;
        white-space: nowrap;
        padding: .15em .65em;
        border-radius: 2em;
        background-color: rgba(153,153,153,0.9);
        color: #fff;
        position: absolute;
        right: 6.25em;
        top: -.75em;
        z-index: 2;
    }

    .cart-item-title {
        margin: 5px;
    }
}

.complete {
    .success {
        .well {
            background: #58b712;
            font-size: 19px;
            color: #fff;
            border: none;
            text-align: center;
            font-weight: 400;
            position: relative;
            border-radius: 0;
            width: 200px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 0;
            color: $primary-color-1;
        }
    }
}

.goweb-account-order {
    .user_box {
        @include userbox();
    }

    .fieldset .field {
        @include field();
    }

    .title-page {
        @include title-page-cart();
    }
}

.goweb-order-detail {
    .user_box {
        @include userbox();
    }

    .fieldset .field {
        @include field();
    }

    .title-page {
        @include title-page-cart();
    }
}
