.goweb-block {
    .discount {
        font-size: 11px;
        color: #f36;
    }

    .product-price {
        font-size: 12px;
        color: #000;
        font-weight: bold;
    }

    .product-star {
        color: #ff9900;
    }
}

.product-list {
    .price-percent {
        width: 52px;
        height: 44px;
        background: url(/Themes/Basic/Content/images/price-percent.png) no-repeat center center;
        color: #fff;
        line-height: normal;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 0;
        font-family: 'Arial Narrow', Arial, sans-serif;
        padding-left: 5px;
        padding-top: 2px;
    }
}
