//Primary
//----------------------------

$theme-basic-path: "Themes/Basic";

$text-color: #667;
$primary-color-1: #ab6767;
//----------------------------
$btn-blue-bg: #00b6f0;
$btn-blue-bg-focus: #286f94;
$btn-blue-color-focus: #fff;
