.login__forgot-pass {
  margin-top: 15px; }

.external-login__btn-group {
  margin-top: 10px; }

.external-login__or {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  text-align: center;
  color: #797979; }
  .external-login__or:last-child {
    display: none; }

.i-rounded,
.i-plain,
.i-circled,
.i-bordered,
.social-icon {
  display: block;
  float: left;
  margin: 4px 11px 7px 0;
  text-align: center !important;
  font-size: 28px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-style: normal; }

body:not(.device-touch) .i-rounded,
body:not(.device-touch) .i-plain,
body:not(.device-touch) .i-circled,
body:not(.device-touch) .i-bordered,
body:not(.device-touch) .social-icon {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.i-rounded,
.i-circled,
.i-bordered {
  width: 52px !important;
  height: 52px !important;
  line-height: 52px !important;
  background-color: #444;
  border-radius: 3px; }

.i-bordered {
  border: 1px solid #555;
  line-height: 50px !important;
  background-color: transparent !important;
  color: #444;
  text-shadow: none; }

.i-plain {
  width: 36px !important;
  height: 36px !important;
  font-size: 28px;
  line-height: 36px !important;
  color: #444;
  text-shadow: 1px 1px 1px #FFF; }

.i-plain:hover {
  color: #777; }

.i-circled {
  border-radius: 50%; }

.i-light {
  background-color: #F5F5F5;
  color: #444;
  text-shadow: 1px 1px 1px #FFF;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2); }

.i-alt {
  background-image: url("iconalt.svg");
  background-position: center center;
  background-size: 100% 100%; }

.i-rounded:hover,
.i-circled:hover {
  background-color: #ab6767;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); }

.i-bordered:hover {
  background-color: #444 !important;
  color: #FFF;
  border-color: #444; }

/* Icon Size - Small
-----------------------------------------------------------------*/
.i-small.i-rounded,
.i-small.i-plain,
.i-small.i-circled,
.i-small.i-bordered {
  margin: 4px 11px 7px 0;
  font-size: 14px; }

.i-small.i-rounded,
.i-small.i-circled,
.i-small.i-bordered {
  width: 28px !important;
  height: 28px !important;
  line-height: 28px !important; }

.i-small.i-bordered {
  line-height: 26px !important; }

.i-small.i-plain {
  width: 18px !important;
  height: 18px !important;
  font-size: 14px;
  line-height: 18px !important; }

/* Icon Size - Small
-----------------------------------------------------------------*/
.i-medium.i-rounded,
.i-medium.i-plain,
.i-medium.i-circled,
.i-medium.i-bordered {
  margin: 6px 13px 9px 0;
  font-size: 21px; }

.i-medium.i-rounded,
.i-medium.i-circled,
.i-medium.i-bordered {
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important; }

.i-medium.i-bordered {
  line-height: 34px !important; }

.i-medium.i-plain {
  width: 28px !important;
  height: 28px !important;
  font-size: 20px;
  line-height: 28px !important; }

/* Icon Size - Large
-----------------------------------------------------------------*/
.i-large.i-rounded,
.i-large.i-plain,
.i-large.i-circled,
.i-large.i-bordered {
  margin: 4px 11px 7px 0;
  font-size: 42px; }

.i-large.i-rounded,
.i-large.i-circled,
.i-large.i-bordered {
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important; }

.i-large.i-bordered {
  line-height: 62px !important; }

.i-large.i-plain {
  width: 48px !important;
  height: 48px !important;
  font-size: 42px;
  line-height: 48px !important; }

/* Icon Size - Extra Large
-----------------------------------------------------------------*/
.i-xlarge.i-rounded,
.i-xlarge.i-plain,
.i-xlarge.i-circled,
.i-xlarge.i-bordered {
  margin: 4px 11px 7px 0;
  font-size: 56px; }

.i-xlarge.i-rounded,
.i-xlarge.i-circled,
.i-xlarge.i-bordered {
  width: 84px !important;
  height: 84px !important;
  line-height: 84px !important; }

.i-xlarge.i-bordered {
  line-height: 82px !important; }

.i-xlarge.i-plain {
  width: 64px !important;
  height: 64px !important;
  font-size: 56px;
  line-height: 64px !important; }

/* ----------------------------------------------------------------
Icon Overlay
-----------------------------------------------------------------*/
.i-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2) url("grid.png") repeat; }

.i-overlay img,
.i-overlay i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  width: 48px !important;
  height: 48px !important;
  font-size: 48px;
  line-height: 1;
  color: #E5E5E5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); }

.i-overlay i {
  margin: -18px 0 0 -18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 24px; }

.on-hover.i-overlay {
  opacity: 0; }

body:not(.device-touch) .on-hover.i-overlay {
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.on-hover.i-overlay:hover {
  opacity: 1; }

/* ----------------------------------------------------------------
Social Icons
-----------------------------------------------------------------*/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 38px !important;
  color: #555;
  text-shadow: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  overflow: hidden; }

/* Social Icons - Rounded
-----------------------------------------------------------------*/
.si-rounded {
  border-radius: 50%; }

/* Social Icons - Borderless
-----------------------------------------------------------------*/
.si-borderless {
  border-color: transparent !important; }

/* Social Icons - Dark
-----------------------------------------------------------------*/
.si-dark {
  background-color: #444;
  color: #FFF !important;
  border-color: transparent; }

/* Social Icons - Light
-----------------------------------------------------------------*/
.si-light {
  background-color: rgba(0, 0, 0, 0.05);
  color: #666 !important;
  border-color: transparent; }

/* Social Icons - Colored
-----------------------------------------------------------------*/
.si-colored {
  border-color: transparent !important; }

.si-colored i {
  color: #FFF; }

/* Social Icons - Large
-----------------------------------------------------------------*/
.social-icon.si-large {
  margin: 0 10px 10px 0;
  width: 56px;
  height: 56px;
  font-size: 30px;
  line-height: 54px !important; }

/**** SOCIAL ICON ****/
body:not(.device-touch) .i-rounded,
body:not(.device-touch) .i-plain,
body:not(.device-touch) .i-circled,
body:not(.device-touch) .i-bordered,
body:not(.device-touch) .social-icon {
  font-size: 23px; }

.social-icon i {
  line-height: 38px; }

.social-icon:hover i:first-child {
  margin-top: -38px; }

/**** END SOCIAL ICON ****/
/* Social Icons - Small
-----------------------------------------------------------------*/
.social-icon.si-small {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 30px !important; }

.social-icon i {
  display: block;
  position: relative; }

body:not(.device-touch) .social-icon i {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -38px; }

.social-icon.si-large:hover i:first-child {
  margin-top: -54px; }

.social-icon.si-small:hover i:first-child {
  margin-top: -30px; }

.social-icon:hover {
  color: #555;
  border-color: transparent; }

.si-colored.social-icon {
  border-color: transparent; }

/* Social Icons - Sticky
-----------------------------------------------------------------*/
.si-sticky {
  position: fixed;
  top: 50%;
  left: 5px;
  width: 36px;
  z-index: 100; }

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/
.si-sticky.si-sticky-right {
  left: auto;
  right: 8px; }

/* Social Icons - Share
-----------------------------------------------------------------*/
.si-share {
  margin-top: 15px;
  position: relative;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE; }

.si-share span {
  line-height: 36px;
  font-weight: bold;
  font-size: 13px; }

/*.si-share div { float: right; }*/
.si-share .social-icon {
  margin: -1px 0;
  border-radius: 0;
  font-size: 15px; }

.si-facebook:hover,
.si-colored.si-facebook {
  background-color: #3B5998 !important; }

.si-delicious:hover,
.si-colored.si-delicious {
  background-color: #205CC0 !important; }

.si-paypal:hover,
.si-colored.si-paypal {
  background-color: #00588B !important; }

.si-flattr:hover,
.si-colored.si-flattr {
  background-color: #F67C1A !important; }

.si-android:hover,
.si-colored.si-android {
  background-color: #A4C639 !important; }

.si-smashmag:hover,
.si-colored.si-smashmag {
  background-color: #E53B2C !important; }

.si-gplus:hover,
.si-colored.si-gplus {
  background-color: #DD4B39 !important; }

.si-wikipedia:hover,
.si-colored.si-wikipedia {
  background-color: #333 !important; }

.si-stumbleupon:hover,
.si-colored.si-stumbleupon {
  background-color: #F74425 !important; }

.si-foursquare:hover,
.si-colored.si-foursquare {
  background-color: #25A0CA !important; }

.si-call:hover,
.si-colored.si-call {
  background-color: #444 !important; }

.si-ninetyninedesigns:hover,
.si-colored.si-ninetyninedesigns {
  background-color: #F26739 !important; }

.si-forrst:hover,
.si-colored.si-forrst {
  background-color: #5B9A68 !important; }

.si-digg:hover,
.si-colored.si-digg {
  background-color: #191919 !important; }

.si-spotify:hover,
.si-colored.si-spotify {
  background-color: #81B71A !important; }

.si-reddit:hover,
.si-colored.si-reddit {
  background-color: #C6C6C6 !important; }

.si-blogger:hover,
.si-colored.si-blogger {
  background-color: #FC4F08 !important; }

.si-cc:hover,
.si-colored.si-cc {
  background-color: #688527 !important; }

.si-dribbble:hover,
.si-colored.si-dribbble {
  background-color: #EA4C89 !important; }

.si-evernote:hover,
.si-colored.si-evernote {
  background-color: #5BA525 !important; }

.si-flickr:hover,
.si-colored.si-flickr {
  background-color: #FF0084 !important; }

.si-google:hover,
.si-colored.si-google {
  background-color: #DD4B39 !important; }

.si-instapaper:hover,
.si-colored.si-instapaper {
  background-color: #333 !important; }

.si-klout:hover,
.si-colored.si-klout {
  background-color: #FF5F52 !important; }

.si-linkedin:hover,
.si-colored.si-linkedin {
  background-color: #0E76A8 !important; }

.si-vk:hover,
.si-colored.si-vk {
  background-color: #2B587A !important; }

.si-rss:hover,
.si-colored.si-rss {
  background-color: #EE802F !important; }

.si-skype:hover,
.si-colored.si-skype {
  background-color: #00AFF0 !important; }

.si-twitter:hover,
.si-colored.si-twitter {
  background-color: #00ACEE !important; }

.si-youtube:hover,
.si-colored.si-youtube {
  background-color: #C4302B !important; }

.si-vimeo:hover,
.si-colored.si-vimeo {
  background-color: #86C9EF !important; }

.si-aim:hover,
.si-colored.si-aim {
  background-color: #FCD20B !important; }

.si-yahoo:hover,
.si-colored.si-yahoo {
  background-color: #720E9E !important; }

.si-email3:hover,
.si-colored.si-email3 {
  background-color: #6567A5 !important; }

.si-macstore:hover,
.si-colored.si-macstore {
  background-color: #333333 !important; }

.si-myspace:hover,
.si-colored.si-myspace {
  background-color: #666666 !important; }

.si-podcast:hover,
.si-colored.si-podcast {
  background-color: #E4B21B !important; }

.si-cloudapp:hover,
.si-colored.si-cloudapp {
  background-color: #525557 !important; }

.si-dropbox:hover,
.si-colored.si-dropbox {
  background-color: #3D9AE8 !important; }

.si-ebay:hover,
.si-colored.si-ebay {
  background-color: #89C507 !important; }

.si-github:hover,
.si-colored.si-github {
  background-color: #171515 !important; }

.si-googleplay:hover,
.si-colored.si-googleplay {
  background-color: #DD4B39 !important; }

.si-itunes:hover,
.si-colored.si-itunes {
  background-color: #222 !important; }

.si-plurk:hover,
.si-colored.si-plurk {
  background-color: #CF5A00 !important; }

.si-pinboard:hover,
.si-colored.si-pinboard {
  background-color: #0000E6 !important; }

.si-soundcloud:hover,
.si-colored.si-soundcloud {
  background-color: #FF7700 !important; }

.si-tumblr:hover,
.si-colored.si-tumblr {
  background-color: #34526F !important; }

.si-wordpress:hover,
.si-colored.si-wordpress {
  background-color: #1E8CBE !important; }

.si-yelp:hover,
.si-colored.si-yelp {
  background-color: #C41200 !important; }

.si-intensedebate:hover,
.si-colored.si-intensedebate {
  background-color: #009EE4 !important; }

.si-eventbrite:hover,
.si-colored.si-eventbrite {
  background-color: #F16924 !important; }

.si-scribd:hover,
.si-colored.si-scribd {
  background-color: #666666 !important; }

.si-stripe:hover,
.si-colored.si-stripe {
  background-color: #008CDD !important; }

.si-print:hover,
.si-colored.si-print {
  background-color: #111 !important; }

.si-dwolla:hover,
.si-colored.si-dwolla {
  background-color: #FF5C03 !important; }

.si-statusnet:hover,
.si-colored.si-statusnet {
  background-color: #131A30 !important; }

.si-acrobat:hover,
.si-colored.si-acrobat {
  background-color: #D3222A !important; }

.si-drupal:hover,
.si-colored.si-drupal {
  background-color: #27537A !important; }

.si-buffer:hover,
.si-colored.si-buffer {
  background-color: #333333 !important; }

.si-pocket:hover,
.si-colored.si-pocket {
  background-color: #EE4056 !important; }

.si-bitbucket:hover,
.si-colored.si-bitbucket {
  background-color: #0E4984 !important; }

.si-stackoverflow:hover,
.si-colored.si-stackoverflow {
  background-color: #EF8236 !important; }

.si-hackernews:hover,
.si-colored.si-hackernews {
  background-color: #FF6600 !important; }

.si-xing:hover,
.si-colored.si-xing {
  background-color: #126567 !important; }

.si-instagram:hover,
.si-colored.si-instagram {
  background-color: #3F729B !important; }

.si-quora:hover,
.si-colored.si-quora {
  background-color: #A82400 !important; }

.si-openid:hover,
.si-colored.si-openid {
  background-color: #E16309 !important; }

.si-steam:hover,
.si-colored.si-steam {
  background-color: #111 !important; }

.si-amazon:hover,
.si-colored.si-amazon {
  background-color: #E47911 !important; }

.si-disqus:hover,
.si-colored.si-disqus {
  background-color: #E4E7EE !important; }

.si-plancast:hover,
.si-colored.si-plancast {
  background-color: #222 !important; }

.si-appstore:hover,
.si-colored.si-appstore {
  background-color: #000 !important; }

.si-pinterest:hover,
.si-colored.si-pinterest {
  background-color: #C8232C !important; }

.si-fivehundredpx:hover,
.si-colored.si-fivehundredpx {
  background-color: #111 !important; }

.goweb-block .discount {
  font-size: 11px;
  color: #f36; }

.goweb-block .product-price {
  font-size: 12px;
  color: #000;
  font-weight: bold; }

.goweb-block .product-star {
  color: #ff9900; }

.goweb-cart {
  font-family: Open Sans; }
  .goweb-cart .cart-product-quantity {
    text-align: center; }
  .goweb-cart .title-page {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #958457;
    margin: 15px 0; }
  .goweb-cart .cart-amount {
    color: #e81c25;
    text-align: right;
    vertical-align: middle;
    display: table-cell; }
  .goweb-cart cart-total {
    font-weight: bold; }
  .goweb-cart .cart .remove {
    font-size: 13px;
    color: #FF0000; }
  .goweb-cart .cart-product-name a, .goweb-cart .product-name a {
    font-size: 13px;
    color: #333; }
  .goweb-cart .cart th {
    text-align: center;
    color: #555;
    font-weight: bold; }
  .goweb-cart .quantity .plus {
    border-bottom: 0;
    top: 0; }
  .goweb-cart .quantity .qty {
    float: left;
    height: 34px;
    line-height: 34px;
    border: 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    background-color: #fff;
    text-indent: 20px;
    width: 100%;
    margin-bottom: 0; }
  .goweb-cart button, .goweb-cart html input[type=button], .goweb-cart input[type=reset], .goweb-cart input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer; }
  .goweb-cart .quantity .plus, .goweb-cart .quantity .minus {
    position: absolute;
    border: 1px solid #dedede;
    height: 17px;
    width: 17px;
    padding: 0;
    text-align: center;
    line-height: 15px;
    background-color: #fff;
    font-size: 16px;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    right: 0; }
  .goweb-cart .quantity .minus {
    bottom: 0; }
  .goweb-cart .cart-product-quantity .quantity {
    display: inline-block;
    margin: 0;
    float: none; }
  .goweb-cart .quantity {
    position: relative;
    display: inline-block;
    width: 70px;
    float: left;
    margin-right: 15px; }
  .goweb-cart .quantity .qty {
    float: left;
    height: 34px;
    line-height: 34px;
    border: 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    background-color: #fff;
    text-indent: 20px;
    width: 100%;
    margin-bottom: 0; }

.billingaddress .default-address {
  float: right;
  top: 10px;
  right: 15px;
  display: block;
  font-size: 11px;
  color: #090; }

.billingaddress .user_box {
  padding: 15px 15px 15px;
  border: 1px dashed #c1bfbf;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  min-height: 110px; }

.billingaddress .fieldset .field {
  width: 100%;
  float: left;
  padding: .45em;
  box-sizing: border-box; }

.billingaddress .create-address {
  padding: 10px;
  border-radius: 4px;
  background-position: 50px;
  background-repeat: no-repeat; }
  .billingaddress .create-address a {
    color: #4EA7FF; }

.billingaddress .step-footer .step-footer-previous-link {
  padding-top: 1.5em;
  text-align: center; }

.billingaddress .step-footer .step-footer-info {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.5em;
  text-align: center; }

.billingaddress .step-footer {
  z-index: 2;
  position: relative;
  margin-top: 1em;
  zoom: 1; }

.billingaddress .step-footer:after, .billingaddress .step-footer:before {
  content: "";
  display: table; }

.billingaddress .step-footer:after {
  clear: both; }

.billingaddress .step-footer .step-footer-previous-link {
  cursor: pointer;
  display: block; }

.billingaddress .step-footer .step-footer-previous-link .previous-link-icon {
  fill: #338dbc;
  transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
  margin-right: 0.25em; }

.billingaddress .step-footer .step-footer-previous-link:hover .previous-link-icon {
  fill: #2b78a0;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }

.billingaddress .step-footer .step-footer-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 750px) {
  .billingaddress .step-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.5em; }
  .billingaddress .step-footer .step-footer-continue-btn {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    float: right; }
  .billingaddress .step-footer .step-footer-previous-link {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 1em;
    float: left;
    display: block; }
  .billingaddress .step-footer .step-footer-info {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 1em;
    float: left; } }

.checkout-cart .checkout-sep {
  padding-bottom: 15px;
  text-transform: uppercase; }

.checkout-cart .product-thumbnail-wrapper {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 50%;
  height: 50%; }

.checkout-cart .product-thumbnail-quantity {
  font-size: .85714em;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.35em .65em;
  border-radius: 14em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  right: 7.5em;
  top: -0.75em;
  z-index: 2; }

.checkout-cart .cart-item-title {
  margin: 5px; }

.complete .success .well {
  background: #58b712;
  font-size: 19px;
  color: #fff;
  border: none;
  text-align: center;
  font-weight: 400;
  position: relative;
  border-radius: 0;
  width: 200px;
  margin-bottom: 10px; }

.complete .success h3 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  color: #ab6767; }

.goweb-account-order .user_box {
  padding: 15px 15px 15px;
  border: 1px dashed #c1bfbf;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  min-height: 110px; }

.goweb-account-order .fieldset .field {
  width: 100%;
  float: left;
  padding: .45em;
  box-sizing: border-box; }

.goweb-account-order .title-page {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #958457;
  margin: 15px 0; }

.goweb-order-detail .title-description {
  margin: 15px 0;
  font-size: 13px;
  text-align: right; }

.goweb-order-detail .user_box {
  padding: 15px 15px 15px;
  border: 1px dashed #c1bfbf;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  min-height: 110px; }

.goweb-order-detail .fieldset .field {
  width: 100%;
  float: left;
  padding: .45em;
  box-sizing: border-box; }

.goweb-order-detail .title-page {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #958457;
  margin: 15px 0; }

.conten-attr {
  overflow: hidden; }
  .conten-attr .attr-items {
    text-align: center; }
  .conten-attr .active .bg {
    border: #e42127 solid 3px;
    background: url(../Themes/Basic/Content/images/bg-selected.png) no-repeat bottom right; }
  .conten-attr .active .size span {
    border-color: #e42127 !important;
    background: url(../Themes/Basic/Content/images/bg-selected.png) no-repeat bottom right;
    top: 0px;
    padding-left: 0;
    text-align: center !important; }
  .conten-attr .att-tag h2 {
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    clear: both; }
  .conten-attr .item {
    width: 20%;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    width: 10%;
    margin-right: 5%;
    float: left; }
    .conten-attr .item label {
      font-weight: normal;
      font-size: 17px;
      color: #A0A0A0; }
    .conten-attr .item .select-item {
      font-size: 17px;
      margin-bottom: 6px;
      cursor: pointer; }
    .conten-attr .item .select-item.size span {
      background-color: #fff;
      padding: 5px;
      min-width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      border: 1px solid #d1d1d1;
      vertical-align: middle;
      font-size: 14px;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75); }
    .conten-attr .item .select-item label {
      font-weight: normal;
      display: block;
      cursor: pointer; }
    .conten-attr .item .select-item label input {
      display: none; }
    .conten-attr .item .select-item .bg {
      width: 25px;
      height: 25px;
      display: inline-block;
      -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.7);
      overflow: hidden;
      border: 1px solid transparent;
      transition: border 0.2s ease; }
    .conten-attr .item .select-item .bg:hover {
      border: #e42127 solid 3px; }
    .conten-attr .item .select-item span {
      position: relative;
      color: #000;
      cursor: pointer;
      transition: border 0.2s ease;
      display: block;
      white-space: nowrap;
      font-size: 14px; }

.show-range input {
  color: #333;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  border-color: #4fb1db;
  box-shadow: none;
  font-size: 14px; }

.show-range .s-control {
  width: calc(50% - 15px);
  display: inline-block; }

.show-range span {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 14px;
  color: #929292; }

.range-block .text span:last-child {
  float: right; }

/*** jgrowl ***/
/* #jQuery jGrowl
================================================== */
div.jGrowl {
  z-index: 9999;
  color: #fff;
  font-size: 12px; }

div.ie6 {
  position: absolute; }

div.ie6.top-right {
  right: auto;
  bottom: auto;
  left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth)+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
  top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px'); }

div.ie6.top-left {
  left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
  top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px'); }

div.ie6.bottom-right {
  left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth)+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
  top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px'); }

div.ie6.bottom-left {
  left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
  top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px'); }

div.ie6.center {
  left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
  top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');
  width: 100%; }

div.jGrowl {
  position: absolute; }

body > div.jGrowl {
  position: fixed;
  z-index: 999999; }

div.jGrowl.top-left {
  left: 0;
  top: 0; }

div.jGrowl.top-right {
  right: 0;
  top: 0; }

div.jGrowl.bottom-left {
  left: 0;
  bottom: 0; }

div.jGrowl.bottom-right {
  right: 0;
  bottom: 0; }

div.jGrowl.center {
  top: 0;
  width: 50%;
  left: 25%; }

div.center div.jGrowl-notification, div.center div.jGrowl-closer {
  margin-left: auto;
  margin-right: auto; }

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background-color: #ffffff;
  color: #828282;
  zoom: 1;
  width: 300px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  text-align: left;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dadada; }

div.jGrowl div.jGrowl-notification {
  min-height: 40px;
  position: relative; }

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  margin: 20px 40px; }

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-weight: bold;
  font-size: .85em; }

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  z-index: 99;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  color: #FF7201; }

div.jGrowl div.jGrowl-notification div.jGrowl-close .icon-remove-circle {
  display: block; }

div.jGrowl div.jGrowl-notification div.jGrowl-message {
  display: inline-block; }

div.jGrowl div.jGrowl-notification div.jGrowl-message img {
  max-width: 100%; }

div.jGrowl div.jGrowl-notification .jGrowl-title {
  margin: 0;
  padding: 0; }

div.jGrowl div.jGrowl-notification .jGrowl-note {
  margin-top: 5px;
  text-transform: uppercase; }

div.jGrowl div.jGrowl-notification .jGrowl-note a {
  color: #828282; }

div.jGrowl div.jGrowl-notification .jGrowl-note a:hover {
  color: #0186c8; }

div.jGrowl div.jGrowl-notification .jGrowl-note ins {
  color: red;
  display: block;
  font-size: 14px;
  text-decoration: none; }

div.jGrowl div.jGrowl-closer {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  color: #1e1e1e; }

div.jGrowl div.jGrowl-closer:hover {
  color: #828282; }

@media print {
  div.jGrowl {
    display: none; } }

@media screen and (max-width: 767px) {
  div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    margin-left: 10px;
    margin-right: 5px; } }

.ajax-loading {
  display: none;
  position: fixed;
  z-index: 100;
  background-image: url(../Themes/Basic/Content/images/loading.gif);
  background-color: #666;
  opacity: .4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0; }

.fancybox-skin p {
  padding: 10px; }

.fancybox-skin__title {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }

.fancybox-skin__content {
  padding: 10px; }

.-premailer-pmail {
  background-color: red; }

.btn {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  user-select: none; }

.btn-default {
  color: #333;
  background-color: #f2f2f2;
  border-color: #f2f2f2; }

.btn-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0); }

.btn-gray {
  color: #fff;
  background-color: #555649;
  border-color: #555649; }
  .btn-gray:hover, .btn-gray:focus {
    color: #fff !important;
    text-decoration: none; }

.btn-loading {
  pointer-events: none;
  cursor: default; }

.btn-loading .btn-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0); }

.btn-loading .btn-spinner {
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
  filter: alpha(opacity=100); }

.btn-blue {
  background: #00b6f0;
  color: white !important; }
  .btn-blue :hover {
    background-color: #286f94;
    color: #fff; }

.btn-social {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  user-select: none;
  width: 203px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding-left: 35px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px; }
  .btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 39px;
    padding-top: 3px; }
  .btn-social__facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2); }
    .btn-social__facebook:hover {
      color: #fff !important;
      background-color: #2d4373;
      border-color: rgba(0, 0, 0, 0.2); }
  .btn-social__google {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
    width: 203px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-left: 35px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #df4a32;
    color: #fff;
    border: 1px solid #c63923; }
    .btn-social__google > :first-child {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      line-height: 34px;
      font-size: 1.6em;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      height: 39px;
      padding-top: 3px; }
    .btn-social__google:hover {
      cursor: pointer;
      text-decoration: none;
      opacity: .9;
      filter: alpha(opacity=90); }

