<!--GetStaticContentParent---->
@using App.Domain.Entities.Menu
@using App.Aplication
@using Resources
@model App.Domain.Entities.Data.StaticContent

@if (Model != null)
{
    <div id="content-wrapper" class="not-vc ">
        <div class="container">
            <div class="row">
                <div id="main-wrapper" class="col-md-12">
                    <!-- post entry -->
                    <article id="post-2350" class="portfolio-single post-2350 st_portfolio type-st_portfolio status-publish has-post-thumbnail hentry">
                        <div class="post-content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1450689182614 wpb_padding">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                              @Html.Raw(Model.Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                    <!-- end post entry -->
                </div>
            </div>
        </div>
    </div>    
}
else
{
    <div class="container">
        <p class="text-danger">@MessageUI.EmptyData</p>
    </div>

}
<!--/GetStaticContentParent---->
