<!---_Footer.Intro-->

<div class="widget">

	<div class="st-heading style-1 text-left">
		<h4 class="box-title">
			<a>
				@Model.Title
			</a>
		</h4>
	</div>

	<h5 class="subtitle text-uppercase"></h5>
	<div class="textwidget">
		<p>

		</p>
		<p>
		</p>
	</div>
	<div class="side-list">
		@Html.Raw(Model.ShortDesc)
	</div>

</div>
<!---/_Footer.Intro-->