<!---Footer--->
@model App.Domain.ContactInfors.ContactInformation

@if (Model != null)
{
   <!--Main Footer-->
		<footer class="main-footer">

			<!--Footer Upper-->

			<div class="footer-upper" style="background-image:url(wp-content/uploads/2016/05/image-4.jpg);">

				<div class="auto-container">
				    <div class="row clearfix">
                        

				        <div id="divFooterLogo"></div>

				        @{Html.RenderAction("FooterLink", "MenuNav", new { area = "" });}

				       
				        <div id="bunch_conatct_info-2" class="col-md-3 col-sm-6 col-xs-12 column footer_widget widget_bunch_conatct_info">
				            <div class="footer-widget contact-widget">
				                <div id="divFooterAddress"></div>
				                
				                <div class="social-links">
				                    @{Html.RenderPartial("Socials/_Social.FB_Link");}
				                    @{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
				                    @{Html.RenderPartial("Socials/_Social.Twitter _Link");}
				                    @{Html.RenderPartial("Socials/_Social.Pinterest_Link");}
				                    @{Html.RenderPartial("Socials/_Social.Youtube_Link");}
				                </div>
				            </div>

				        </div>

				     

				    </div>
				</div>

			</div>

		    <div id="divFooterCopyRight"></div>

		</footer>
}

<script>
        jQuery(function () {

            jQuery.post('@Url.Action("GetFooterAddress", "Summary")')
              .done(function (data) {
                  jQuery("#divFooterAddress").html(data.list);
              });

            jQuery.post('@Url.Action("GetFooterLogo", "Summary")')
                   .done(function (data) {
                       jQuery("#divFooterLogo").html(data.list);
                   });

            jQuery.post('@Url.Action("GetFooterCopyRight", "Summary")')
                .done(function (data) {
                    jQuery("#divFooterCopyRight").html(data.list);
                });
        })

    </script>

<!---/GetInformationFooter--->
