 <!---GetLogo--->
@model App.Domain.Entities.GlobalSetting.SystemSetting

@if (Model != null)
{
    <a href="@Url.Action("Index", "Home", new { area = "" })" title='@Model.Title' >
        <img alt="@Model.Title" src="@Model.LogoImage.ValidateImage()" />
    </a>
    <h1 style="display: none;">
        kute-shop
    </h1>
}
<!---/GetLogo--->