<!----SearchBoxSideBar-->

<div class="block left-module">
    <p class="title_block">Danh mục sản phẩm</p>
    <div class="block_content">
        <!-- layered -->
        <div class="layered layered-category">
            <div class="layered-content">
                @Html.Action("GetMenuLinkSideBar", "MenuNav", new { area = "", virtualId = ViewBag.VirtualId, proAttrs = ViewBag.ProAttrs })
            </div>
        </div>
        <!-- ./layered -->
    </div>
</div>
<!-- ./block category  -->
<!-- block filter -->
<div class="block left-module">
    <p class="title_block">Bộ lọc sản phẩm</p>
    <div class="block_content">
        <!-- layered -->
        <div class="layered layered-filter-price">

            <div class="layered_subtitle hidden">Thương hiệu</div>
            <div class="layered-content filter-brand hidden">
                <ul class="check-box-list">

                    <li>
                        <input type="checkbox" id="brand1" name="cc" data-vendor="(vendor:product**Apple)" />
                        <label for="brand1">
                            <span class="button"></span>
                            Apple
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand2" name="cc" data-vendor="(vendor:product**Canon)" />
                        <label for="brand2">
                            <span class="button"></span>
                            Canon
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand3" name="cc" data-vendor="(vendor:product**TXT)" />
                        <label for="brand3">
                            <span class="button"></span>
                            TXT
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand4" name="cc" data-vendor="(vendor:product**TST)" />
                        <label for="brand4">
                            <span class="button"></span>
                            TST
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand5" name="cc" data-vendor="(vendor:product**AVFS)" />
                        <label for="brand5">
                            <span class="button"></span>
                            AVFS
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand6" name="cc" data-vendor="(vendor:product**Samsung)" />
                        <label for="brand6">
                            <span class="button"></span>
                            Samsung
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand7" name="cc" data-vendor="(vendor:product**HP)" />
                        <label for="brand7">
                            <span class="button"></span>
                            HP
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand8" name="cc" data-vendor="(vendor:product**Lenovo)" />
                        <label for="brand8">
                            <span class="button"></span>
                            Lenovo
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand9" name="cc" data-vendor="(vendor:product**TNDT)" />
                        <label for="brand9">
                            <span class="button"></span>
                            TNDT
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="brand10" name="cc" data-vendor="(vendor:product**Bebe)" />
                        <label for="brand10">
                            <span class="button"></span>
                            Bebe
                        </label>
                    </li>

                </ul>
            </div>

            <!-- ./filter brand -->
            <!-- filter price -->

            <div class="layered_subtitle">Giá</div>
            <div class="range-block layered-content filter-color conten-attr" id="filter_group_4">
                <div class="text">
                    <span>50.000</span>
                    <span>50.000.000</span>
                </div>
                @{
                    var fromPrice = 50000D;
                    var toPrice = 50000000D;

                    var price = (List<double>)ViewBag.Prices;
                    if (price != null && price.Count > 0)
                    {
                        fromPrice = price.FirstOrDefault();
                        toPrice = price.LastOrDefault();
                    }
                }
                <input type="text" id="block-slider" value="" data-slider-tooltip="hide" data-slider-min="50000" data-slider-max="50000000" data-slider-step="1000000" data-slider-value="[@fromPrice,@toPrice]">
                <div class="show-range">
                    <div class="s-control">
                        <input id="from-price" type="number" class="form-control" value="@fromPrice" />
                    </div>
                    <span>–</span>
                    <div class="s-control">
                        <input id="to-price" type="number" class="form-control" value="@toPrice" />
                    </div>
                </div>
            </div>

            @Html.Action("GetAttributeSearchBox", "SearchBox", new { area = "", ViewBag.Attributes })

        </div>

    </div>
</div>

<input type="hidden" id="attribute" />
<input type="hidden" id="proattribute" />
<input type="hidden" id="price" />
<!----/SearchBoxSideBar-->
