<!----SearchBoxSideBar-->

<div class="sidebar-widgets-wrap">

    <!-- begin: filters -->
    <div class="panel-group filter_group filter_fixed">
        <div class="panel panel-default noradius">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#filter_group">
                    <h4 class="panel-title">
                        LỌC SẢN PHẨM<i class='fa fa-angle-down'></i>
                    </h4>
                </a>
            </div>
            <div id="filter_group" class="panel-collapse collapse in">
                <!-- BEGIN: Vendor filter -->
                <div class="widget_links clearfix hidden">
                    <a href='#filter_group_1' data-toggle='collapse'><h4>THƯƠNG HIỆU<i class='fa-angle-down fa'></i></h4></a>
                    <ul id='filter_group_1' class='panel-collapse collapse in filter_list'>

                        <li class='col-xs-6 col-sm-12 col-md-6'>
                            <label class='filter_checkbox'>
                                <span>
                                    <i class='fa-check fa hidden'></i>
                                    <input class="vendor" type="checkbox" value="(vendor:product=Khác)">
                                </span>
                                Khác
                            </label>
                        </li>

                        <li class='col-xs-6 col-sm-12 col-md-6'>
                            <label class='filter_checkbox'>
                                <span>
                                    <i class='fa-check fa hidden'></i>
                                    <input class="vendor" type="checkbox" value="(vendor:product=CHỊ SA)">
                                </span>
                                CHỊ SA
                            </label>
                        </li>

                    </ul>
                </div>


                <!-- END: Vendor filter -->
                <!-- BEGIN: Type filter -->


                <div class="widget_links clearfix hidden">
                    <a href='#filter_group_2' data-toggle='collapse'><h4>LOẠI SẢN PHẨM<i class='fa-angle-down fa'></i></h4></a>
                    <ul id='filter_group_2' class='panel-collapse collapse in filter_list'>

                        <li class='col-xs-6 col-sm-12 col-md-6'>
                            <label class='filter_checkbox'>
                                <span>
                                    <input class="product_type" type="checkbox" value="(product_type:product=Khác)">
                                </span>
                                Khác
                            </label>
                        </li>

                    </ul>
                </div>


                <!-- END: Type filter -->
                <!-- BEGIN: Color filter -->

                @Html.Action("GetAttributeSearchBox", "SearchBox", new { area = "", ViewBag.Attributes })

                <!-- END: Color filter -->
                <!-- BEGIN: Price filter -->

                <div class="widget_links clearfix">
                    <a href='#filter_group_4' data-toggle='collapse'><h4>GIÁ<i class='fa-angle-down fa'></i></h4></a>
                    <div class="range-block panel-collapse collapse in filter_list" id="filter_group_4">
                        <div class="text">
                            <span>300.000</span>
                            <span>50.000.000</span>
                        </div>
                        @{
                            var fromPrice = 300000D;
                            var toPrice = 50000000D;

                            var price = (List<double>)ViewBag.Prices;
                            if (price != null && price.Count > 0)
                            {
                                fromPrice = price.FirstOrDefault();
                                toPrice = price.LastOrDefault();
                            }
                        }
                        <input type="text" id="block-slider" value="" data-slider-tooltip="hide" data-slider-min="300000" data-slider-max="50000000" data-slider-step="1000000" data-slider-value="[@fromPrice,@toPrice]">
                        <div class="show-range">
                            <div class="s-control">
                                <input id="from-price" type="number" class="form-control" value="@fromPrice" />
                            </div>
                            <span>–</span>
                            <div class="s-control">
                                <input id="to-price" type="number" class="form-control" value="@toPrice" />
                            </div>
                        </div>
                    </div>

                </div>

                <!-- END: Price filter -->
                <!-- BEGIN: Tag_Custom_1 filter -->

                <div class="widget_links clearfix hidden">
                    <a href='#filter_group_5' data-toggle='collapse'><h4>KÍCH THƯỚC<i class='fa-angle-down fa'></i></h4></a>
                    <ul id='filter_group_5' class='panel-collapse collapse in filter_list'></ul>
                </div>

                <!-- END: Tag_Custom_1 filter -->
                <!-- BEGIN: Tag_Custom_2 filter -->

                <div class="widget_links clearfix hidden">
                    <a href='#filter_group_6' data-toggle='collapse'><h4>Chất liệu<i class='fa-angle-down fa'></i></h4></a>
                    <ul id='filter_group_6' class='panel-collapse collapse in filter_list'></ul>
                </div>

                <!-- END: Tag_Custom_2 filter -->
                <!-- BEGIN: Tag_Custom_3 filter -->

                <div class="widget_links clearfix hidden">
                    <a href='#filter_group_7' data-toggle='collapse'><h4>Xuất xứ<i class='fa-angle-down fa'></i></h4></a>
                    <ul id='filter_group_7' class='panel-collapse collapse in filter_list'></ul>
                </div>

                <!-- END: Tag_Custom_3 filter -->
            </div>
        </div>
    </div>

    <div class='hidden-xs hidden-sm'>
        <div class="widget widget_links clearfix">
            <div class='widget_title'>
                <h4>DANH MỤC SẢN PHẨM</h4>
            </div>
            @Html.Action("GetMenuLinkSideBar", "MenuNav", new { area = "", Ids = ViewBag.ProAttrs })

        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('.widget_links li i').click(function () {
                    $(this).next().toggle();
                })
            })
        </script>

        <!-- end categories -->
        <!-- sidebar collection 1 -->

        <div class="widget clearfix">
            <div class='widget_title'>
                <h4><a href='so-mi-mazzola.html'>SẢN PHẨM CŨ/MỚI</a></h4>
            </div>
            <div class='widget_content'>
                <ul class="list-unstyled">
                    <li>
                        @if (ViewBag.ProductOld != null)
                        {
                            <input id="productold" type="checkbox" name="productold" value="1" checked="checked">
                        }
                        else
                        {
                            <input id="productold" type="checkbox" name="productold" value="1">
                        }
                        <label for="productold" style="font-weight: normal">Sản phẩm cũ</label>
                    </li>
                    <li>
                        @if (ViewBag.ProductNew != null)
                        {
                            <input id="productnew" type="checkbox" name="productnew" value="1" checked="checked">
                        }
                        else
                        {
                            <input id="productnew" type="checkbox" name="productnew" value="1">
                        }
                        <label for="productnew" style="font-weight: normal">Sản phẩm mới</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget clearfix sidebar_viewed_products_wrapper">
            <div class='widget_title'>
                <h4>SẢN PHẨM VỪA XEM</h4>
            </div>
            <div id='sidebar_viewed_products' class="widget-last-view widget_content">
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                EGA.plugin.setViewedProducts({
                    location_wrapper: '.sidebar_viewed_products_wrapper',
                    template: '#sidebar_viewed_template',
                    location: '#sidebar_viewed_products',
                    limit: 3,
                    img_url: 'compact'
                })
            })
        </script>
        <!-- end recent view -->
        <!-- sidebar banner -->

        <div class="widget clearfix">
            <a href='http://mazzola.myharavan.com/blogs/news'><img src="../../hstatic.net/495/1000133495/1000194031/sidebar_banner677f.jpg?v=226" style='height:auto; width: 100%;' /></a>
        </div>

        <!-- end sidebar banner -->
    </div>
</div>
<input type="hidden" id="attribute" />
<input type="hidden" id="proattribute" />
<input type="hidden" id="price" />
<!----/SearchBoxSideBar-->
