@{Html.RenderAction("SlideShowHome", "SlideShow"); }

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Services Section-->
                <section class="services-style-one padd-top-50  ">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>Our <span class="theme_color">Services</span></h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>

                        <div class="row clearfix">
                            <!--Default Service Column-->

                            <div class="default-service-column col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="inner-most">
                                        <figure class="image-box">
                                            <a href="#">
                                                <img width="370" height="270" src="wp-content/uploads/2016/04/featured-image-1.jpg"
                                                     class="img-responsive wp-post-image" alt="featured-image-1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-1.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-1-300x219.jpg 300w"
                                                     sizes="(max-width: 370px) 100vw, 370px" />
                                            </a>
                                        </figure>
                                        <div class="lower-part">
                                            <div class="left-curve"></div>
                                            <div class="right-curve"></div>

                                            <div class="content">
                                                <h3>Best renovation</h3>
                                                <div class="text">Claritas est etiam processus dynamicus, qui sequitur mutationem.</div>
                                                <div class="more-link"><a href="#" class="read-more">Read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="default-service-column col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="inner-most">
                                        <figure class="image-box">
                                            <a href="#">
                                                <img width="370" height="270" src="wp-content/uploads/2016/04/featured-image-2.jpg"
                                                     class="img-responsive wp-post-image" alt="featured-image-2" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-2.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-2-300x219.jpg 300w"
                                                     sizes="(max-width: 370px) 100vw, 370px" />
                                            </a>
                                        </figure>
                                        <div class="lower-part">
                                            <div class="left-curve"></div>
                                            <div class="right-curve"></div>

                                            <div class="content">
                                                <h3>Best renovation</h3>
                                                <div class="text">Claritas est etiam processus dynamicus, qui sequitur mutationem.</div>
                                                <div class="more-link"><a href="#" class="read-more">Read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="default-service-column col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="inner-most">
                                        <figure class="image-box">
                                            <a href="#">
                                                <img width="370" height="270" src="wp-content/uploads/2016/04/featured-image-3.jpg"
                                                     class="img-responsive wp-post-image" alt="featured-image-3" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-3.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/featured-image-3-300x219.jpg 300w"
                                                     sizes="(max-width: 370px) 100vw, 370px" />
                                            </a>
                                        </figure>
                                        <div class="lower-part">
                                            <div class="left-curve"></div>
                                            <div class="right-curve"></div>

                                            <div class="content">
                                                <h3>Best renovation</h3>
                                                <div class="text">Claritas est etiam processus dynamicus, qui sequitur mutationem.</div>
                                                <div class="more-link"><a href="#" class="read-more">Read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!--Default Intro Section-->
                <section class="default-intro-section" style="background-image:url('wp-content/uploads/2016/04/image-1.jpg');">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                                <!--Content Box-->
                                <div class="content-box">
                                    <div class="row clearfix">
                                        <div class="col-md-7 col-sm-12">
                                            <h3>Get your free consultant</h3>
                                            <div class="text">
                                                We are a company that offers design and build services for you from initial sketches to
                                                the final construction.
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 pull-right">
                                            <div class="text-right padd-top-20"><a href="#" class="theme-btn btn-style-three">Contact Us<span class="icon icon-right flaticon-arrows-10"></span></a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!--What We Do Section-->
                <section class="what-we-do no-padd-bottom">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>What <span class="theme_color">We Do</span></h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>

                        <!--Tabs Box-->
                        <div class="tabs-box tab-style-one">

                            <!--Buttons-->
                            <div class="buttons-style-one">
                                <ul class="tab-buttons clearfix">
                                    <li class="tab-btn active-btn" data-tab="#tab-one169"><span class="icon flaticon-tool-8"></span> <span class="txt">renovation</span></li>
                                    <li class="tab-btn " data-tab="#tab-one170"><span class="icon flaticon-tool-10"></span> <span class="txt">architect</span></li>
                                    <li class="tab-btn " data-tab="#tab-one171"><span class="icon flaticon-signs"></span> <span class="txt">Roofing</span></li>
                                    <li class="tab-btn " data-tab="#tab-one172"><span class="icon flaticon-paint"></span> <span class="txt">Painting</span></li>
                                    <li class="tab-btn " data-tab="#tab-one173"><span class="icon flaticon-tool-3"></span> <span class="txt">Plumbing</span></li>
                                </ul>
                            </div>

                            <!--Tabs Content-->
                            <div class="tabs-content">
                                <div class="tab  active-tab " id="tab-one169">
                                    <div class="outer">
                                        <div class="clearfix">
                                            <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-outer">
                                                    <figure class="image">
                                                        <img width="370" height="400" src="wp-content/uploads/2016/05/featured-image-4.jpg"
                                                             class="attachment-full size-full wp-post-image" alt="featured-image-4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4-278x300.jpg 278w"
                                                             sizes="(max-width: 370px) 100vw, 370px" />
                                                    </figure>
                                                    <div class="upper-curve"></div>
                                                    <div class="lower-curve"></div>
                                                </div>
                                            </div>
                                            <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                                <div class="inner-content">
                                                    <div class="content-area">
                                                        <h3>Renovation services</h3>
                                                        <div class="text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                                et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut
                                                                aliquip
                                                            </p>
                                                        </div>
                                                        <div class="progress-boxes">
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:80%;"></div>
                                                                    <div class="txt">Skill 1</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:60%;"></div>
                                                                    <div class="txt">Skill 2</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:95%;"></div>
                                                                    <div class="txt">Skill 3</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                <div class="inner-content">
                                                    <h3>How it works</h3>
                                                    <ul class="styled-steps">
                                                        <li>
                                                            <span class="count">1</span><span class="small-text">field</span>
                                                            analysis
                                                        </li>
                                                        <li>
                                                            <span class="count">2</span><span class="small-text">condition</span>
                                                            experiment
                                                        </li>
                                                        <li>
                                                            <span class="count">3</span><span class="small-text">Final</span>
                                                            output
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab " id="tab-one170">
                                    <div class="outer">
                                        <div class="clearfix">
                                            <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-outer">
                                                    <figure class="image">
                                                        <img width="370" height="400" src="wp-content/uploads/2016/05/featured-image-4.jpg"
                                                             class="attachment-full size-full wp-post-image" alt="featured-image-4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4-278x300.jpg 278w"
                                                             sizes="(max-width: 370px) 100vw, 370px" />
                                                    </figure>
                                                    <div class="upper-curve"></div>
                                                    <div class="lower-curve"></div>
                                                </div>
                                            </div>
                                            <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                                <div class="inner-content">
                                                    <div class="content-area">
                                                        <h3>Architect services</h3>
                                                        <div class="text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                                et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut
                                                                aliquip
                                                            </p>
                                                        </div>
                                                        <div class="progress-boxes">
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:80%;"></div>
                                                                    <div class="txt">Skill 1</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:60%;"></div>
                                                                    <div class="txt">Skill 2</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:78%;"></div>
                                                                    <div class="txt">Skill 3</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                <div class="inner-content">
                                                    <h3>How it works</h3>
                                                    <ul class="styled-steps">
                                                        <li>
                                                            <span class="count">1</span><span class="small-text">field</span>
                                                            analysis
                                                        </li>
                                                        <li>
                                                            <span class="count">2</span><span class="small-text">condition</span>
                                                            experiment
                                                        </li>
                                                        <li>
                                                            <span class="count">3</span><span class="small-text">Final</span>
                                                            output
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab " id="tab-one171">
                                    <div class="outer">
                                        <div class="clearfix">
                                            <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-outer">
                                                    <figure class="image">
                                                        <img width="370" height="400" src="wp-content/uploads/2016/05/featured-image-4.jpg"
                                                             class="attachment-full size-full wp-post-image" alt="featured-image-4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4-278x300.jpg 278w"
                                                             sizes="(max-width: 370px) 100vw, 370px" />
                                                    </figure>
                                                    <div class="upper-curve"></div>
                                                    <div class="lower-curve"></div>
                                                </div>
                                            </div>
                                            <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                                <div class="inner-content">
                                                    <div class="content-area">
                                                        <h3>Roofing services</h3>
                                                        <div class="text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                                et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut
                                                                aliquip
                                                            </p>
                                                        </div>
                                                        <div class="progress-boxes">
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:80%;"></div>
                                                                    <div class="txt">Skill 1</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:60%;"></div>
                                                                    <div class="txt">Skill 2</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:84%;"></div>
                                                                    <div class="txt">Skill 3</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                <div class="inner-content">
                                                    <h3>How it works</h3>
                                                    <ul class="styled-steps">
                                                        <li>
                                                            <span class="count">1</span><span class="small-text">field</span>
                                                            analysis
                                                        </li>
                                                        <li>
                                                            <span class="count">2</span><span class="small-text">condition</span>
                                                            experiment
                                                        </li>
                                                        <li>
                                                            <span class="count">3</span><span class="small-text">Final</span>
                                                            output
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab " id="tab-one172">
                                    <div class="outer">
                                        <div class="clearfix">
                                            <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-outer">
                                                    <figure class="image">
                                                        <img width="370" height="400" src="wp-content/uploads/2016/05/featured-image-4.jpg"
                                                             class="attachment-full size-full wp-post-image" alt="featured-image-4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4-278x300.jpg 278w"
                                                             sizes="(max-width: 370px) 100vw, 370px" />
                                                    </figure>
                                                    <div class="upper-curve"></div>
                                                    <div class="lower-curve"></div>
                                                </div>
                                            </div>
                                            <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                                <div class="inner-content">
                                                    <div class="content-area">
                                                        <h3>Painting services</h3>
                                                        <div class="text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                                et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut
                                                                aliquip
                                                            </p>
                                                        </div>
                                                        <div class="progress-boxes">
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:80%;"></div>
                                                                    <div class="txt">Skill 1</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:42%;"></div>
                                                                    <div class="txt">Skill 2</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                <div class="inner-content">
                                                    <h3>How it works</h3>
                                                    <ul class="styled-steps">
                                                        <li>
                                                            <span class="count">1</span><span class="small-text">field</span>
                                                            analysis
                                                        </li>
                                                        <li>
                                                            <span class="count">2</span><span class="small-text">condition</span>
                                                            experiment
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab " id="tab-one173">
                                    <div class="outer">
                                        <div class="clearfix">
                                            <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-outer">
                                                    <figure class="image">
                                                        <img width="370" height="400" src="wp-content/uploads/2016/05/featured-image-4.jpg"
                                                             class="attachment-full size-full wp-post-image" alt="featured-image-4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4.jpg 370w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/05/featured-image-4-278x300.jpg 278w"
                                                             sizes="(max-width: 370px) 100vw, 370px" />
                                                    </figure>
                                                    <div class="upper-curve"></div>
                                                    <div class="lower-curve"></div>
                                                </div>
                                            </div>
                                            <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                                <div class="inner-content">
                                                    <div class="content-area">
                                                        <h3>Plumbing services</h3>
                                                        <div class="text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                                et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut
                                                                aliquip
                                                            </p>
                                                        </div>
                                                        <div class="progress-boxes">
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:45%;"></div>
                                                                    <div class="txt">Skill 1</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:25%;"></div>
                                                                    <div class="txt">Skill 2</div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box">
                                                                <div class="bar-outer">
                                                                    <div class="bar-bg" style="width:35%;"></div>
                                                                    <div class="txt">Skill 3</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                <div class="inner-content">
                                                    <h3>How it works</h3>
                                                    <ul class="styled-steps">
                                                        <li>
                                                            <span class="count">1</span><span class="small-text">field</span>
                                                            analysis
                                                        </li>
                                                        <li>
                                                            <span class="count">2</span><span class="small-text">condition</span>
                                                            experiment
                                                        </li>
                                                        <li>
                                                            <span class="count">3</span><span class="small-text">Final</span>
                                                            output
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Tabs Content-->

                        </div>
                        <!--Tabs Box-->

                    </div>

                    <!--Image Section-->
                    <div class="image-section" style="background-image:url('wp-content/uploads/2016/04/image-2.jpg');"></div>

                </section>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Latest Work-->
                <section class="latest-work">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>Latest <span class="theme_color">Works</span></h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>
                    </div>

                    <div class="carousel-outer">
                        <ul class="work-carousel">
                            <!--Slide Item-->

                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/1-1.jpg" class="img-responsive wp-post-image"
                                                 alt="1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/1-1-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/1-1.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/construction/index.html">Construction</a></h3>
                                                <div class="category"><a href="projects/construction/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/2-1.jpg" class="img-responsive wp-post-image"
                                                 alt="2" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/2-1.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/2-1-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/2-1-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/2-1.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/roofing-works/index.html">Roofing works</a></h3>
                                                <div class="category"><a href="projects/roofing-works/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/3.jpg" class="img-responsive wp-post-image"
                                                 alt="3" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/3.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/construction-2/index.html">Construction</a></h3>
                                                <div class="category"><a href="projects/construction-2/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/4.jpg" class="img-responsive wp-post-image"
                                                 alt="4" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/4.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/4-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/4-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/4.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/roofing-works-2/index.html">Roofing works</a></h3>
                                                <div class="category"><a href="projects/roofing-works-2/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/5-350x322.jpg"
                                                 class="img-responsive wp-post-image" alt="5" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/5-350x322.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/5-300x277.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/5-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/5.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/construction-3/index.html">Construction</a></h3>
                                                <div class="category"><a href="projects/construction-3/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide-item">
                                <div class="default-work-column">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img width="350" height="322" src="wp-content/uploads/2016/04/3.jpg" class="img-responsive wp-post-image"
                                                 alt="3" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3.jpg 350w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3-300x276.jpg 300w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/3-271x249.jpg 271w"
                                                 sizes="(max-width: 350px) 100vw, 350px" />
                                        </figure>
                                        <a href="wp-content/uploads/2016/04/3.jpg" class="lightbox-image overlay-link"><span class="icon flaticon-cross"></span></a>
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3><a href="projects/roofing-works-3/index.html">Roofing works</a></h3>
                                                <div class="category"><a href="projects/roofing-works-3/index.html">Pre Work</a></div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li><a href="#"><span class="icon flaticon-money"></span>Budget: $10,000</a></li>
                                                <li><a href="#"><span class="icon flaticon-vehicle"></span>Duration: 2 months</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="text-center"><a href="#" class="more-link">See more works</a></div>

                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Team Section-->
                <section class="team-section" style="background-image:url('wp-content/uploads/2016/04/image-3.jpg');">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>Awesome <span class="theme_color">Team</span></h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>

                        <div class="row clearfix">

                            <!--Team Memmber-->

                            <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">

                                    <figure class="image-box wow bounceInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <a href="mailto:mail@mail.com">
                                            <img width="274" height="480" src="wp-content/uploads/2016/04/team-image-1.png" class="img-responsive wp-post-image"
                                                 alt="team-image-1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/team-image-1.png 274w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/team-image-1-171x300.png 171w"
                                                 sizes="(max-width: 274px) 100vw, 274px" />
                                        </a>
                                    </figure>
                                    <!--Lower Part-->
                                    <div class="lower-part">
                                        <!--Bg Layer-->
                                        <div class="bg-layer"></div>
                                        <div class="left-curve"></div>
                                        <div class="right-curve"></div>
                                        <!--Caption Layer-->
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3>
                                                    <a href="#">
                                                        Hasib Sharif
                                                    </a>
                                                </h3>
                                                <div class="category">
                                                    <a href="#">
                                                        Chief Architect
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-case"></span>
                                                        3 Years of experiences
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-social"></span>
                                                        age: 24 years
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Caption ayer-->
                                    </div>
                                    <!--Lower Part-->

                                </div>
                            </article>
                            <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">

                                    <figure class="image-box wow bounceInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <a href="mailto:mail@mail.com">
                                            <img width="274" height="480" src="wp-content/uploads/2016/04/team-image-2-274x480.png" class="img-responsive wp-post-image"
                                                 alt="team-image-2" />
                                        </a>
                                    </figure>
                                    <!--Lower Part-->
                                    <div class="lower-part">
                                        <!--Bg Layer-->
                                        <div class="bg-layer"></div>
                                        <div class="left-curve"></div>
                                        <div class="right-curve"></div>
                                        <!--Caption Layer-->
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3>
                                                    <a href="#">
                                                        Tahiratuzzohora
                                                    </a>
                                                </h3>
                                                <div class="category">
                                                    <a href="#">
                                                        Chief Architect
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-case"></span>
                                                        3 Years of experiences
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-social"></span>
                                                        age: 24 years
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Caption ayer-->
                                    </div>
                                    <!--Lower Part-->

                                </div>
                            </article>
                            <article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">

                                    <figure class="image-box wow bounceInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <a href="mailto:mail@mail.com">
                                            <img width="274" height="480" src="wp-content/uploads/2016/04/team-image-3-274x480.png" class="img-responsive wp-post-image"
                                                 alt="team-image-3" />
                                        </a>
                                    </figure>
                                    <!--Lower Part-->
                                    <div class="lower-part">
                                        <!--Bg Layer-->
                                        <div class="bg-layer"></div>
                                        <div class="left-curve"></div>
                                        <div class="right-curve"></div>
                                        <!--Caption Layer-->
                                        <div class="caption-layer">
                                            <div class="upper">
                                                <h3>
                                                    <a href="#">
                                                        David Maman
                                                    </a>
                                                </h3>
                                                <div class="category">
                                                    <a href="#">
                                                        Chief Architect
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="options clearfix">
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-case"></span>
                                                        3 Years of experiences
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon flaticon-social"></span>
                                                        age: 24 years
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Caption ayer-->
                                    </div>
                                    <!--Lower Part-->

                                </div>
                            </article>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Testimonials Sction-->
                <section class="testimonials-section padd-bott-70">
                    <div class="auto-container">
                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <h2>What <span class="theme_color">Our CLients</span> Say</h2>
                            <div class="text">
                                Claritas est etiam processus dynamicus, qui sequitur<br />
                                mutationem consuetudium lectorum.
                            </div>
                        </div>
                    </div>


                    <div class="carousel-outer">
                        <div class="auto-container">
                            <!--Testimonials Carousel-->
                            <ul class="testimonials-carousel">

                                <!--Slide Item-->
                                <li class="slide-item">
                                    <div class="testi-box clearfix">
                                        <figure class="author-thumb">
                                            <img width="176" height="176" src="wp-content/uploads/2016/04/author-thumb-1.jpg" class="img-responsive wp-post-image"
                                                 alt="author-thumb-1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-1.jpg 176w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-1-150x150.jpg 150w"
                                                 sizes="(max-width: 176px) 100vw, 176px" />
                                            <!--Info Box-->
                                            <div class="info-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                                <div class="content">
                                                    <h4>James martin</h4>
                                                    <div class="designation"></div>
                                                </div>
                                            </div>
                                            <!--Info Box-->
                                        </figure>
                                        <div class="text-content">
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="testi-box clearfix">
                                        <figure class="author-thumb">
                                            <img width="176" height="176" src="wp-content/uploads/2016/04/author-thumb-2.jpg" class="img-responsive wp-post-image"
                                                 alt="author-thumb-2" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-2.jpg 176w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-2-150x150.jpg 150w"
                                                 sizes="(max-width: 176px) 100vw, 176px" />
                                            <!--Info Box-->
                                            <div class="info-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                                <div class="content">
                                                    <h4>jenny duren</h4>
                                                    <div class="designation"></div>
                                                </div>
                                            </div>
                                            <!--Info Box-->
                                        </figure>
                                        <div class="text-content">
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="testi-box clearfix">
                                        <figure class="author-thumb">
                                            <img width="176" height="176" src="wp-content/uploads/2016/04/author-thumb-1.jpg" class="img-responsive wp-post-image"
                                                 alt="author-thumb-1" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-1.jpg 176w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-1-150x150.jpg 150w"
                                                 sizes="(max-width: 176px) 100vw, 176px" />
                                            <!--Info Box-->
                                            <div class="info-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                                <div class="content">
                                                    <h4>James martin</h4>
                                                    <div class="designation"></div>
                                                </div>
                                            </div>
                                            <!--Info Box-->
                                        </figure>
                                        <div class="text-content">
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="testi-box clearfix">
                                        <figure class="author-thumb">
                                            <img width="176" height="176" src="wp-content/uploads/2016/04/author-thumb-2.jpg" class="img-responsive wp-post-image"
                                                 alt="author-thumb-2" srcset="http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-2.jpg 176w, http://themexriver.net/wp/constructorone/wp-content/uploads/2016/04/author-thumb-2-150x150.jpg 150w"
                                                 sizes="(max-width: 176px) 100vw, 176px" />
                                            <!--Info Box-->
                                            <div class="info-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                                <div class="content">
                                                    <h4>jenny duren</h4>
                                                    <div class="designation"></div>
                                                </div>
                                            </div>
                                            <!--Info Box-->
                                        </figure>
                                        <div class="text-content">
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <!--Testimonials Carousel-->

                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">


                <!--Latest News-->
                <section class="latest-news">
                    <div class="auto-container">
                        <div class="outer-box" style="background-image:('wp-content/uploads/2016/04/bg-scale.png')">

                            <!--Left Image-->
                            <div class="left-image wow bounceInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <img src="wp-content/uploads/2016/04/man-image-1.png" alt="Image">
                            </div>

                            <!--Section Title-->
                            <div class="sec-title text-left">
                                <h2>Latest <span class="theme_color">News</span></h2>
                                <div class="text">
                                    Claritas est etiam processus dynamicus, qui sequitur<br />
                                    mutationem consuetudium lectorum.
                                </div>
                            </div>

                            <div class="row clearfix">
                                <!-- Post Item-->
                                <div class="post-item col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box clearfix">
                                        <figure class="post-thumb">
                                            <img width="132" height="105" src="wp-content/uploads/2016/04/post-thumb-1.jpg" class="img-responsive wp-post-image"
                                                 alt="post-thumb-1" />
                                            <!--Curve Box-->
                                            <div class="curve-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                            </div>
                                            <!--Curve Box-->
                                        </figure>
                                        <div class="text-content">
                                            <h4>
                                                <a href="2016/04/28/claritas-est-etiam-processus-dynamicus/index.html">
                                                    Claritas est etiam processus
                                                    dynamicus
                                                </a>
                                            </h4>
                                            <div class="time">28 04, 2016</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box clearfix">
                                        <figure class="post-thumb">
                                            <img width="132" height="105" src="wp-content/uploads/2016/04/post-thumb-2.jpg" class="img-responsive wp-post-image"
                                                 alt="post-thumb-2" />
                                            <!--Curve Box-->
                                            <div class="curve-box">
                                                <div class="left-curve"></div>
                                                <div class="right-curve"></div>
                                            </div>
                                            <!--Curve Box-->
                                        </figure>
                                        <div class="text-content">
                                            <h4>
                                                <a href="2016/04/28/claritas-est-etiam-processus-dynamicus-2/index.html">
                                                    Claritas est etiam processus
                                                    dynamicus
                                                </a>
                                            </h4>
                                            <div class="time">28 04, 2016</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!--Sponsors Section-->
                <section class="sponsors-section padd-top-20">
                    <div class="auto-container">
                        <!--Sponsors Carousel-->
                        <div class="sponsors-outer">
                            <!--Sponsors Carousel-->
                            <ul class="sponsors-carousel">

                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/1-2.jpg" alt="Video Lab"></a>
                                    </figure>
                                </li>
                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/2-2.jpg" alt="Creative"></a>
                                    </figure>
                                </li>
                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/3-1.jpg" alt="Restrostyle"></a>
                                    </figure>
                                </li>
                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/1-2.jpg" alt="VideoLab"></a>
                                    </figure>
                                </li>
                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/2-2.jpg" alt="Creative"></a>
                                    </figure>
                                </li>
                                <li class="slide-item">
                                    <figure class="image-box">
                                        <a href="#"><img src="wp-content/uploads/2016/04/3-1.jpg" alt="Studio"></a>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

@*<!-- Home slideder-->
    @{Html.RenderAction("SlideShowHome", "SlideShow"); }
    <!-- END Home slideder-->

    @{ Html.RenderAction("PostDiscountSlide", "Post", new { area = "" });}

    <div class="content-page">
        <div class="container">
            @{
                Html.RenderAction("PostHome", "Post", new { MenuId = 15, area = "" });
            }
        </div>
    </div>

    <div id="content-wrap">
        <div class="container">
            @{
                Html.RenderAction("BannerProductHome", "Banner", new { area = "" });
                Html.RenderAction("NewsHome", "News", new { area = "" });
                Html.RenderAction("Services", "MenuNav", new { virtualId = "310f945c-a560-4eb0-b4d5-4aa1ef36dd18", area = "" });
            }
        </div>
    </div>*@