<!-- Home slideder-->
@{Html.RenderAction("SlideShowHome", "SlideShow"); }
<!-- END Home slideder-->

@{ Html.RenderAction("PostDiscountSlide", "Post", new { area = "" });}

<div class="content-page">
	<div class="container">
		@{
			Html.RenderAction("PostHome", "Post", new { MenuId = 15, area = "" });
		}
	</div>
</div>

<div id="content-wrap">
	<div class="container">
		@{
			Html.RenderAction("BannerProductHome", "Banner", new { area = "" });
			Html.RenderAction("NewsHome", "News", new { area = "" });
			Html.RenderAction("Services", "MenuNav", new { virtualId = "310f945c-a560-4eb0-b4d5-4aa1ef36dd18", area = "" });
		}
	</div>
</div>