@{
    Html.RenderAction("SlideShowHome", "SlideShow");
    Html.RenderAction("PostServices", "Post");

    Html.RenderAction("PostHome", "Post", new { MenuId = 15, area = "" });

    <div id="divSlogan"></div>

    Html.RenderAction("NewsHome", "News", new { area = "" });
}


<script>
    jQuery(function () {

        jQuery.post('@Url.Action("GetSlogan", "Summary")')
            .done(function (data) {
                jQuery("#divSlogan").html(data.list);
            });
    })

</script>