<!--_PostDetail.Attribute-->
@using App.Core.Extensions
@model IEnumerable<App.FakeEntity.GenericControls.ControlValueItemResponse>

@if (Model.IsAny())
{
    <ul>
        @foreach (var controlValueItemResponse in Model)
        {
            <li class="clearfix">
                <strong>@controlValueItemResponse.Name:</strong>
                <div class="data"> @controlValueItemResponse.ValueName</div>
            </li>
        }
    </ul>
}

<!--/_PostDetail.Attribute-->