
@{Html.RenderAction("GetSlideShow", "SlideShow", new { area = "" }); }
<div class='clear'></div>
<!-- Content
============================================= -->
<section id="content">

    @{Html.RenderAction("GetSlogan", "StaticContent", new { MenuId = 16, area = "" }); }

    <div class="container clearfix">

        @{Html.RenderAction("BannerHomeProduct", "Banner", new { area = "" }); }

        @{Html.RenderAction("GetProductHome", "Post", new { MenuId = 15, area = "" });}
       

    </div>
    <!-- #content end -->
</section>
<!-- Footer
============================================= -->

<div class='container'>

    <div class='subscribe_group ohidden'>

        <div class="col-sm-6 col-md-8 col-xs-12 subscribe_group_left ohidden noleftpadding">
            <h5 style=''>
                <i class='fa fa-envelope-o' style='margin-right: 5px; font-size: 25px;'></i>
                ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI
            </h5>
            <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
            <form accept-charset="UTF-8" id="widget-subscribe-form" action="http://mazzola.vn/account/contact" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                    <input name="form_type" type="hidden" value="customer">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" id="contact_tags" name="contact[tags]" value="khách hàng tiềm năng,Bản tin">
                    <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="(Người đăng ký)">
                    <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Bản tin">
                    <input style='height: 35px; padding: 4px 5px; border-right: 0; box-shadow: none;' type="email" id='newsletter-email-3' name="contact[email]" class="form-control required email" placeholder="Nhập email của bạn">
                    <!--<input type="text" id="newsletter-email" name="contact[email]" placeholder="nhập email của bạn.." class="form-control">-->
                    <span class="input-group-btn">
                        <button style='' class="btn btnSignup-3" type="submit">
                            <i class='fa fa-paper-plane-o'></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>



        <div class='subscribe_group_right col-xs-12 col-sm-6 col-md-4 text-right norightpadding'>

            @{Html.RenderPartial("Socials/_Social.FB_Link");}
            @{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
            @{Html.RenderPartial("Socials/_Social.Twitter _Link");}
            @{Html.RenderPartial("Socials/_Social.Pinterest_Link");}
            @{Html.RenderPartial("Socials/_Social.Youtube_Link");}
        </div>

    </div>
</div>
