<!---_BreadCrumb--->
@using App.Core.Extensions
@using App.Front.Models

@{
    List<BreadCrumb> breadCrumbs = Model is List<BreadCrumb> ? Model : ViewBag.BreadCrumb as List<BreadCrumb>;

    <div class="theme-breadcrumb blog-page-body">
        <div class="auto-container">
            <ul class="breadcrumb">
                <li><a href="#">@T("TrangChu")</a></li>
                @if (breadCrumbs.IsAny())
                {
                    foreach (var item in breadCrumbs)
                    {
                        <li><a class="@(item.Current?"active":"")" href="@item.Url">@item.Title</a></li>
                    }
                }
               
            </ul>
        </div>
    </div>
}
<!---/_BreadCrumb--->