<!----BannerTop-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Ads.Banner>
@if (Model.IsAny())
{
    <ul class="gw-banner-top owl-carousel">
        @foreach (var item in Model)
        {
            <li>
                <img src="@(Url.Content(item.ImgPath.ValidateImage()))" alt="category-slider">
            </li>
        }
    </ul>
}
<!----/BannerTop-->