<!----BannerTop-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model.IsAny())
{
    <ul class="gw-banner-top owl-carousel">
        @foreach (var item in Model)
        {
            <li>
                <img src="@(Url.Content(item.ImgPath.ValidateImage()))" alt="category-slider">
            </li>
        }
    </ul>
}
<!----/BannerTop-->