 <!---_Footer.Logo--->
@model App.Domain.Entities.GlobalSetting.SystemSetting

@if (Model != null)
{
    <a href='@Url.Action("Index", "Home", new { area = "" })'>
        <img src="@Url.Content("~/" + Model.LogoFooterImage)" alt="@Model.Title" />
    </a>
}
<!---/_Footer.Logo--->