<!---Footer--->
@model App.Domain.Entities.GlobalSetting.ContactInformation
@if (Model != null)
{
    <footer id="footer">
        <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <div id="divFooterLogo"></div>
                    </div>
                </div>

                <div class="col-md-6">
	                <div class="row">
						@{Html.RenderAction("FooterLink", "MenuNav", new { area = "" });}
	                </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">Đăng ký nhận tin</div>
                        <form accept-charset='UTF-8' action='https://kute-shop.myharavan.com/account/contact' class='contact-form' method='post'>
                            <input name='form_type' type='hidden' value='customer'>
                            <input name='utf8' type='hidden' value='✓'>
                            <div class="input-group" id="mail-box">
                                <input type="hidden" id="contact_tags" name="contact[tags]" value="khách hàng tiềm năng, bản tin" />
                                <input name="contact[email]" type="email" placeholder="Đăng ký email" required="required" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Gửi</button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                        <div class="introduce-title">Liên kết</div>
                        <div class="social-link">
                            @{Html.RenderPartial("Socials/_Social.FB_Link");}
                            @{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
                            @{Html.RenderPartial("Socials/_Social.Twitter _Link");}
                            @{Html.RenderPartial("Socials/_Social.Pinterest_Link");}
                            @{Html.RenderPartial("Socials/_Social.Youtube_Link");}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#introduce-box -->
            <!-- #trademark-box -->
            <div id="divPaymentMethodFooter"></div>
            <!-- /#trademark-box -->
            <div id="divFooterAddress"></div>

            <div id="footer-menu-box">
                <p class="text-center">Copyrights © 2015 KuteShop. All Rights Reserved. Designed by KuteThemes.com</p>
            </div>
        </div>
    </footer>
}

<script>
    jQuery(function () {

        jQuery.post('@Url.Action("GetFooterAddress", "Summary")')
          .done(function (data) {
              jQuery("#divFooterAddress").html(data.list);
          });

        jQuery.post('@Url.Action("GetFooterLogo", "Summary")')
               .done(function (data) {
                   jQuery("#divFooterLogo").html(data.list);
               });

        jQuery.post('@Url.Action("PaymentMethodFooter", "PaymentMethod")')
            .done(function (data) {
                jQuery("#divPaymentMethodFooter").html(data.list);
            });
    })

</script>

<!---/GetInformationFooter--->
