<!---_Social.Twitter_Share-->

<div class="sbutton">
    <div id="tw">
        <a href="javascript:" onclick="window.open('@(string.Format("https://twitter.com/?status={0}",Request.Url.AbsoluteUri))', '_blank', 'width=800,height=300')" alt = "Twitter" style ="width: 45px;">
        <img src="/Areas/Admin/images/Socials/tw.png">
        </a>
    </div>
</div>


<!---_Social.Twitter_Share-->