<!---_Social.FB_like-->
<div class="fb-like"
     data-href="@Request.Url.AbsoluteUri"
     data-layout="button"
     data-action="like"
     data-size="small"
     data-show-faces="true"
     data-share="false">

</div>
<!---_Social.FB_like-->