<!---ShippingMethod-->
@model App.Front.Models.Checkout.CheckoutShippingMethodModel

@if (Model != null)
{
    <div id="section-shipping-rate" class="section">
        <div class="section-header">
            <h2 class="section-title">Chọn hình thức giao hàng</h2>
        </div>
        <div class="section-content">

            <div class="content-box">

                @foreach (var item in Model.ShippingMethods)
                {
                    <div class="content-box-row">
                        <div class="radio-wrapper">
                            <label class="radio-label" for="shipping_rate_id_445857">
                                <div class="radio-input">
                                    <input id="shipping_rate_id@(item.Id)" class="input-radio" type="radio" name="shipping_rate_id" value="@item.Name" checked="@item.Selected">
                                </div>
                                <span class="radio-label-primary">@item.Name</span>
                                <span class="radio-accessory content-box-emphasis">0₫

                                </span>
                            </label>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
}

<!---/ShippingMethod-->