.btn {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;   
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}

//btn-default
//------------------------------------------------------------------------------
.btn-default {
    color: #333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.btn-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
}

//btn-gray
//------------------------------------------------------------------------------
.btn-gray {
    color: #fff;
    background-color: #555649;
    border-color: #555649;

    :hover, :focus {
        color: #fff !important;
        text-decoration: none;
    }
}
//btn-loading
//-------------------------------------------------------------------------
.btn-loading {
    pointer-events: none;
    cursor: default;
}

.btn-loading .btn-content {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
}

.btn-loading .btn-spinner {
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
    filter: alpha(opacity=100);
}

//btn-blue
//----------------------------------------------------------------------
.btn-blue {
    background: $btn-blue-bg;
    color: white !important;

    & :hover {
        background-color: $btn-blue-bg-focus;
        color: $btn-blue-color-focus;
    }
}

