
@mixin btn() {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}

.btn {
   @include btn();
}

//btn-default
//------------------------------------------------------------------------------
.btn-default {
    color: #333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.btn-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
}

//btn-gray
//------------------------------------------------------------------------------
.btn-gray {
    color: #fff;
    background-color: #555649;
    border-color: #555649;

    &:hover, &:focus {
        color: #fff !important;
        text-decoration: none;
    }
}

//btn-loading
//-------------------------------------------------------------------------
.btn-loading {
    pointer-events: none;
    cursor: default;
}

.btn-loading .btn-content {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
}

.btn-loading .btn-spinner {
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
    filter: alpha(opacity=100);
}

//btn-blue
//----------------------------------------------------------------------
.btn-blue {
    background: $btn-blue-bg;
    color: white !important;

    & :hover {
        background-color: $btn-blue-bg-focus;
        color: $btn-blue-color-focus;
    }
}

//btn-social
//----------------------------------------------------------------------

@mixin btn-social() {
    width: 203px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-left: 35px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;

    & > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,.2);
        height: 39px;
        padding-top: 3px;
    }
}

.btn-social {
    @include btn();
    @include btn-social();

    &__facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0,0,0,.2);

        &:hover {
            color: #fff !important;
            background-color: #2d4373;
            border-color: rgba(0,0,0,.2);
        }
    }

    &__google {
        @include btn();
        @include btn-social();
        background: #df4a32;
        color: #fff;
        border: 1px solid #c63923;

        &:hover {
            cursor: pointer;
            text-decoration: none;
            opacity: .9;
            filter: alpha(opacity=90);
        }
    }
}

